Repository Kunena/Kunena-Forum, pull requests merged in 2018-07, with the labels that each got.

#6015 Remove subscriptions when perm block from site #5945
  src/libraries/kunena/access.php
Labels: 5.1, enhance

#6029 Linkedin Company error in the profile #6026
  src/administrator/components/com_kunena/install/install.xml
Labels: 5.1, bug

#6030 Birthdate error in the backend profile infos #6027
  src/administrator/components/com_kunena/template/j3/user/edit.php
Labels: 5.1, bug

#6031 Birthdate error in the backend profile infos #6027 (missing in J4)
  src/administrator/components/com_kunena/template/j4/user/edit.php
Labels: 5.1, bug

#6041 Edit the poll after someone has voted #6034
  src/libraries/kunena/forum/topic/topic.php
Labels: 5.1, bug

#6042 Set dev
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.1

#6043 Missing some variables in kunenausers table
  src/libraries/kunena/tables/kunenausers.php
Labels: 5.1, bug

#6045 Fix Custom tags not showing
  src/components/com_kunena/template/crypsis/layouts/widget/socialcustomtag/default.php
Labels: 5.1, bug

#6046 Fix Custom tags not showing
  src/components/com_kunena/template/crypsisb3/layouts/widget/socialcustomtag/default.php
Labels: 5.1, bug

#6047 When edit the poll, the button is now edit instead add
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.ini
  src/components/com_kunena/template/crypsis/layouts/widget/editor/bbcode.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/editor/bbcode.php
Labels: 5.1, enhance

#6049 Update FA to 5.1.1
  src/administrator/components/com_kunena/views/user/view.html.php
  src/administrator/components/com_kunena/views/users/view.html.php
  src/components/com_kunena/template/crypsis/template.php
  src/components/com_kunena/template/crypsisb3/template.php
Labels: 5.1, enhance

#6057 Ignore internal links in checkMaxLinks() #6039
  src/components/com_kunena/controllers/topic.php
Labels: 5.1, enhance

#6061 Alert message is untranslated #6059
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/components/com_kunena/template/crypsis/assets/js/krating.js
  src/components/com_kunena/template/crypsis/layouts/topic/item/default.php
  src/components/com_kunena/template/crypsisb3/assets/js/krating.js
  src/components/com_kunena/template/crypsisb3/layouts/topic/item/default.php
Labels: 5.1, Language

#6062 Add reviewCount beside stars #6058
  src/components/com_kunena/controller/topic/item/display.php
  src/components/com_kunena/template/crypsis/layouts/topic/item/default.php
  src/components/com_kunena/template/crypsis/layouts/topic/item/rating/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/item/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/item/rating/default.php
Labels: 5.1, enhance

#6063 Prevent to add rate when banned
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.ini
  src/libraries/kunena/forum/topic/rate/rate.php
Labels: 5.1, bug

#6064 RSS: Add value "None" to Characters Per Item
  src/administrator/components/com_kunena/models/config.php
  src/components/com_kunena/views/category/view.feed.php
  src/components/com_kunena/views/topics/view.feed.php
Labels: 5.1, enhance

#6065 Fix sort by title not working as expected
  src/libraries/kunena/forum/category/helper.php
Labels: 5.1, Backend, enhance

#6067 Warn users before delete category #6033
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/template/j3/categories/default.php
  src/administrator/components/com_kunena/template/j4/categories/default.php
  src/administrator/components/com_kunena/views/categories/view.html.php
Labels: 5.1, enhance

#6069 500 Layout default_confirmdelete not found. #6068
  src/administrator/components/com_kunena/template/j3/categories/defaut_confirmdelete.php
  src/administrator/components/com_kunena/template/j4/categories/defaut_confirmdelete.php
Labels: 5.1, bug
