Repository Kunena/Kunena-Forum, pull requests merged in 2018-05, with the labels that each got.

#5884 Change vote second time #5780 (Remove useless part)
  src/components/com_kunena/controllers/topic.php
Labels: 5.1, bug

#5886 Add "Restore Default" button for templates #5109
  src/administrator/components/com_kunena/controllers/templates.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.controllers.ini
  src/administrator/components/com_kunena/views/templates/view.html.php
Labels: 5.1, Backend

#5889 Update default.php
  src/components/com_kunena/template/crypsis/layouts/search/results/row/default.php
Labels: 5.1, bug

#5890 Update FA to 5.0.11
  src/components/com_kunena/template/crypsis/template.php
  src/components/com_kunena/template/crypsisb3/template.php
Labels: 5.1, enhance

#5894 Update FA to 5.0.12
  src/components/com_kunena/template/crypsis/template.php
  src/components/com_kunena/template/crypsisb3/template.php
Labels: 5.1

#5899 Improve some language strings
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
Labels: 5.1, Language

#5900 Update FA to 5.0.13
  src/components/com_kunena/template/crypsis/template.php
  src/components/com_kunena/template/crypsisb3/template.php
Labels: 5.1, enhance

#5901 Port 443 for schema.org
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/components/com_kunena/template/crypsis/layouts/topic/item/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/breadcrumb/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/menubar/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/item/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/breadcrumb/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/menubar/default.php
Labels: 5.1, enhance

#5903 Missing language constant in the backend #5902
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.sys.ini
Labels: 5.1, Language

#5905 Prepare for dev
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.1

#5908 [Deprecation] Synchronous XMLHttpRequest #5907
  src/components/com_kunena/template/crypsis/assets/js/edit.js
  src/components/com_kunena/template/crypsisb3/assets/js/edit.js
Labels: 5.1, bug

#5912 Remove some warnings
  src/components/com_kunena/template/crypsis/assets/js/edit.js
  src/components/com_kunena/template/crypsisb3/assets/js/edit.js
Labels: 5.1, enhance

#5919 document.getElementById is null on edit.js line 281
  src/components/com_kunena/template/crypsis/assets/js/edit.js
  src/components/com_kunena/template/crypsisb3/assets/js/edit.js
Labels: 5.1, bug

#5920 Replace all deprecated success method in jquery ajax call
  src/administrator/components/com_kunena/template/j3/tools/recount.php
  src/administrator/components/com_kunena/template/j4/tools/recount.php
  src/components/com_kunena/template/crypsis/assets/js/edit.js
  src/components/com_kunena/template/crypsis/assets/js/krating.js
  src/components/com_kunena/template/crypsis/assets/js/search.js
  src/components/com_kunena/template/crypsis/assets/js/topic.js
  src/components/com_kunena/template/crypsis/assets/js/upload.avatar.js
  src/components/com_kunena/template/crypsis/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb3/assets/js/edit.js
  src/components/com_kunena/template/crypsisb3/assets/js/krating.js
  src/components/com_kunena/template/crypsisb3/assets/js/search.js
  src/components/com_kunena/template/crypsisb3/assets/js/topic.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.avatar.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.main.js
Labels: 5.1, enhance

#5926 Remove blank space
  src/libraries/kunena/user/user.php
Labels: 5.1, bug

#5928 Outdated FA URL
  src/administrator/components/com_kunena/views/user/view.html.php
  src/administrator/components/com_kunena/views/users/view.html.php
Labels: 5.1, enhance

#5929 Remove unused tags
  src/administrator/components/com_kunena/template/j3/users/default.php
  src/administrator/components/com_kunena/template/j4/users/default.php
  src/components/com_kunena/template/system/layouts/bbcode/attachment/pdf.php
  src/components/com_kunena/template/system/layouts/bbcode/ebay/default.php
Labels: 5.1, enhance

#5938 Path of js file not changed for categories edit
  src/administrator/components/com_kunena/template/j3/categories/edit.php
  src/administrator/components/com_kunena/template/j4/categories/edit.php
Labels: 5.1, bug

#5937 Move some js code in backend in separate file
  src/administrator/components/com_kunena/template/j3/tools/recount.js
  src/administrator/components/com_kunena/template/j3/tools/recount.php
  src/administrator/components/com_kunena/template/j4/tools/recount.js
  src/administrator/components/com_kunena/template/j4/tools/recount.php
Labels: 5.1, enhance

#5941 Remove duplicate declaration
  src/components/com_kunena/template/crypsis/assets/js/markitup.editor.js
  src/components/com_kunena/template/crypsisb3/assets/js/markitup.editor.js
Labels: 5.1, enhance

#5946 The button Remove Inline saves the message #5943
  src/components/com_kunena/template/crypsis/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.main.js
Labels: 5.1, bug

#5947 When delete all attachments progressbar still here
  src/components/com_kunena/template/crypsis/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.main.js
Labels: 5.1, bug

#5948 Wrong domain to post data to stopforumspam
  src/components/com_kunena/controllers/user.php
Labels: 5.1, bug

#5949 Wrong domain to post data to stopforumspam (Part 2)
  src/components/com_kunena/controllers/user.php
Labels: 5.1, bug

#5951 When click on remove attachment, e is undefined
  src/components/com_kunena/template/crypsis/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.main.js
Labels: 5.1, bug

#5952 Display error when upload avatar fails, like it's done for attachments
  src/components/com_kunena/template/crypsis/assets/js/upload.avatar.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.avatar.js
Labels: 5.1, enhance

#5959 Update some references
  COPYRIGHT.php
  docs/migration/README.md
  src/administrator/components/com_kunena/template/j3/templates/default.php
  src/administrator/components/com_kunena/template/j4/templates/default.php
  src/components/com_kunena/controller/category/manage/display.php
  src/components/com_kunena/layout/category/manage.php
  src/components/com_kunena/template/crypsis/layouts/category/manage/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/socialcustomtag/default.php
  src/components/com_kunena/template/crypsis/pages/category/manage/default.php
  src/components/com_kunena/template/crypsisb3/layouts/attachment/item/video.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/socialcustomtag/default.php
Labels: 5.1, Docs

#5962 Allowed avatar types is not working as expected #5960
  src/administrator/components/com_kunena/template/j3/config/default.php
  src/administrator/components/com_kunena/template/j4/config/default.php
Labels: 5.1, bug
