Repository Kunena/Kunena-Forum, pull requests merged in 2018-11, with the labels that each got.

#6148 Update FA to 5.5.0
  src/administrator/components/com_kunena/views/user/view.html.php
  src/administrator/components/com_kunena/views/users/view.html.php
  src/components/com_kunena/template/crypsis/template.php
  src/components/com_kunena/template/crypsisb3/template.php
Labels: 5.1, enhance

#6144 DateTime::__construct(): Failed to parse time string #6115
  src/administrator/components/com_kunena/template/j3/user/edit.php
  src/administrator/components/com_kunena/template/j4/user/edit.php
  src/components/com_kunena/template/crypsis/layouts/user/edit/profile/default.php
  src/components/com_kunena/template/crypsisb3/layouts/user/edit/profile/default.php
Labels: 5.1, bug

#6152 Update readme
  README.md
Labels: 5.1

#6154 Update readme and install version checks
  README.md
  src/administrator/components/com_kunena/install/install.script.php
  src/install.php
Labels: 5.1

#6156 Update readme and install checks for J4.0
  README.md
  src/administrator/components/com_kunena/install/install.script.php
  src/install.php
Labels: 6.0

#6162 CB avatar has wrong path
  src/administrator/components/com_kunena/install/plugins/plg_kunena_comprofiler/avatar.php
Labels: 5.1, bug

#6163 Add button to subscribe users to categories selected
  src/administrator/components/com_kunena/controllers/users.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.controllers.ini
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/template/j3/users/default.php
  src/administrator/components/com_kunena/template/j3/users/default_subscribecatsusers.php
  src/administrator/components/com_kunena/template/j4/users/default.php
  src/administrator/components/com_kunena/template/j4/users/default_subscribecatsusers.php
  src/administrator/components/com_kunena/views/users/view.html.php
Labels: 5.1, enhance

#6167 Add vimeo in user profile #5904
  src/administrator/components/com_kunena/controllers/users.php
  src/administrator/components/com_kunena/install/install.xml
  src/administrator/components/com_kunena/install/kunena.install.upgrade.xml
  src/administrator/components/com_kunena/install/sql/install/mysql/create_tables.utf8.sql
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.libraries.ini
  src/components/com_kunena/controllers/user.php
  src/libraries/kunena/tables/kunenausers.php
  src/libraries/kunena/user/user.php
Labels: 6.0, enhance

#6168 Add a button to subscribe users to categories/topics #6124
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/template/j3/users/default_subscribecatsusers.php
  src/administrator/components/com_kunena/template/j4/users/default_subscribecatsusers.php
Labels: 5.1, bug
