Repository Kunena/Kunena-Forum, pull requests merged in 2018-06, with the labels that each got.

#5968 There are no language constants in template settings #5965
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/template/j3/templates/edit.php
  src/administrator/components/com_kunena/template/j4/templates/edit.php
  src/components/com_kunena/template/crypsis/config/config.xml
  src/components/com_kunena/template/crypsisb3/config/config.xml
Labels: 5.1, Language

#5967 Ban start date is always the same #5966
  src/libraries/kunena/user/ban.php
Labels: 5.1, bug

#5972 Bump version
  README.md
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 6.0

#5971 Set date in article:published_time to ISO 8601 format
  src/components/com_kunena/controller/topic/item/display.php
Labels: 5.1, bug

#5970 We need a setting option "User can edit poll if no votes" #5969
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/models/config.php
  src/administrator/components/com_kunena/template/j3/config/default.php
  src/administrator/components/com_kunena/template/j4/config/default.php
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.ini
  src/components/com_kunena/template/crypsis/assets/js/markitup.editor.js
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/editor/bbcode.php
  src/components/com_kunena/template/crypsisb3/assets/js/markitup.editor.js
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/editor/bbcode.php
  src/libraries/kunena/config.php
Labels: 5.1, bug

#5973 We need a setting option "User can edit poll if no votes" #5969 (Part 2)
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/models/config.php
  src/components/com_kunena/controllers/topic.php
Labels: 5.1, bug

#5974 Set Kunena template params more readable in Kunena configuration report
  src/administrator/components/com_kunena/models/tools.php
Labels: 5.1, enhance

#5976 We need a setting option "User can edit poll if no votes" #5969 (fix string)
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
Labels: 5.1, bug

#5979 We need a setting option "User can edit poll if no votes" (Part 3) #5975
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/models/config.php
  src/components/com_kunena/controllers/topic.php
  src/components/com_kunena/template/crypsis/assets/js/markitup.editor.js
  src/components/com_kunena/template/crypsisb3/assets/js/markitup.editor.js
  src/libraries/kunena/config.php
Labels: 5.1, bug

#5985 Translation in admin panel #5984
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.sys.ini
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/template/j3/categories/edit.php
  src/administrator/components/com_kunena/template/j3/cpanel/default.php
  src/administrator/components/com_kunena/template/j3/templates/default.php
  src/administrator/components/com_kunena/template/j4/categories/edit.php
  src/administrator/components/com_kunena/template/j4/cpanel/default.php
  src/administrator/components/com_kunena/template/j4/templates/default.php
  src/administrator/components/com_kunena/views/cpanel/view.html.php
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.ini
Labels: 5.1, Language

#5995 Force users to pick up a category doesn't work #5990
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
Labels: 5.1, bug

#5996 Missing translation strings on editor
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.libraries.ini
  src/components/com_kunena/template/crypsis/assets/js/markitup.editor.js
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/assets/js/markitup.editor.js
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
Labels: 5.1, Language

#6007 Update FA to 5.1.0
  src/administrator/components/com_kunena/views/user/view.html.php
  src/administrator/components/com_kunena/views/users/view.html.php
  src/components/com_kunena/template/crypsis/template.php
  src/components/com_kunena/template/crypsisb3/template.php
Labels: 5.1, enhance

#6008 Unable to define company in profile information #6004
  src/administrator/components/com_kunena/install/kunena.install.upgrade.xml
  src/administrator/components/com_kunena/install/sql/install/mysql/create_tables.utf8.sql
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.libraries.ini
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/libraries/kunena/user/user.php
Labels: 5.1, enhance

#6012 Incorrect comparison operator
  src/components/com_kunena/template/crypsis/assets/js/upload.avatar.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.avatar.js
Labels: 5.1, enhance

#6013 [Feature] Add option to use Joomla "Receive System Emails" #6011
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/models/config.php
  src/administrator/components/com_kunena/template/j3/config/default.php
  src/administrator/components/com_kunena/template/j4/config/default.php
  src/libraries/kunena/access.php
  src/libraries/kunena/config.php
Labels: 5.1, enhance, feature

#6017 Try new function tobytes
  src/libraries/kunena/upload/upload.php
Labels: 5.1, bug
