Repository Kunena/Kunena-Forum, pull requests merged in 2018-04, with the labels that each got.

#5848 Logs: Several operations not working #5829
  src/libraries/kunena/log/entry.php
  src/libraries/kunena/log/finder.php
  src/libraries/kunena/log/log.php
Labels: 5.1, bug

#5851 Update FA to 5.0.10
  src/components/com_kunena/template/crypsis/template.php
  src/components/com_kunena/template/crypsisb3/template.php
Labels: 5.1, enhance

#5854 Improve language string
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
Labels: 5.1, Language

#5859 Images are using a generic title #5850
  src/components/com_kunena/template/crypsis/layouts/bbcode/image/default.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/image/default.php
  src/components/com_kunena/template/system/layouts/bbcode/image/default.php
Labels: 5.1, bug

#5858 Statistics provides a error #5856
  src/administrator/components/com_kunena/models/statistics.php
Labels: 5.1

#5865 Undefined class constant 'LOG_USER_BLOCK'
  src/libraries/kunena/log/log.php
Labels: 5.1, bug

#5866 Add log on user edit
  src/components/com_kunena/controllers/user.php
  src/libraries/kunena/log/log.php
Labels: 5.1

#5876 Language directories cs-CZ and cs_CZ both exist #5874
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.controllers.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.install.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.libraries.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.models.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.views.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_finder_kunena.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_alphauserpoints.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_altauserpoints.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_community.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_comprofiler.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_easyblog.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_easyprofile.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_easysocial.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_gravatar.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_joomla.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_kunena.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_kunena_uddeim.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_quickicon_kunena.sys.ini
  src/administrator/components/com_kunena/language/cs_CZ/cs_CZ.plg_system_kunena.sys.ini
  src/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.controllers.ini
  src/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.ini
  src/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.models.ini
  src/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.templates.ini
  src/components/com_kunena/language/cs_CZ/cs_CZ.com_kunena.views.ini
  src/components/com_kunena/language/cs_CZ/cs_CZ.kunena_tmpl_crypsis.ini
  src/components/com_kunena/language/cs_CZ/cs_CZ.mod_kunenamenu.ini
  src/components/com_kunena/language/cs_CZ/cs_CZ.mod_kunenamenu.sys.ini
  src/components/com_kunena/template/crypsis/assets/js/jquery.wysibb.min.js
Labels: 5.1, Language

#5877 Change vote second time #5780
  src/components/com_kunena/controllers/topic.php
Labels: 5.1, bug

#5878 When you do change vote, the button still appear as vote
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/components/com_kunena/template/crypsis/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/vote/default.php
Labels: 5.1, bug

#5880 Disable "Go" button until destination is chosen #5472
  src/components/com_kunena/controllers/topics.php
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.controllers.ini
Labels: 5.1, bug

#5881 Trying to get property 'votes' of non-object #5879
  src/components/com_kunena/controller/topic/poll/display.php
  src/components/com_kunena/template/crypsis/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/vote/default.php
Labels: 5.1, bug
