Repository Kunena/Kunena-Forum, pull requests merged in 2018-08, with the labels that each got.

#6075 Wrong icon for delete button #6070
  src/administrator/components/com_kunena/views/categories/view.html.php
Labels: 5.1, bug

#6076 Add reviewcount in recent topics #6071
  src/components/com_kunena/template/crypsis/layouts/topic/row/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/rating/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/row/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/rating/default.php
  src/libraries/kunena/forum/topic/topic.php
Labels: 5.1, enhance

#6078 Doc for the new method not correctly completed
  src/libraries/kunena/template/template.php
Labels: 5.1

#6079 Remove useless part of code for rating
  src/components/com_kunena/controller/topic/item/display.php
Labels: 5.1

#6080 Edit the poll after someone has voted #6034
  src/components/com_kunena/controllers/topic.php
Labels: 5.1, bug

#6083 Warning message has no details #6082
  src/components/com_kunena/template/crypsis/layouts/topic/item/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/item/default.php
Labels: 5.1, bug

#6093 fix for generated kunena-custom.css pointing to wrong location
  src/components/com_kunena/template/crypsis/template.php
Labels: bug

#6102 Update FA to 5.3.1
  src/administrator/components/com_kunena/views/user/view.html.php
  src/administrator/components/com_kunena/views/users/view.html.php
  src/components/com_kunena/template/crypsis/template.php
  src/components/com_kunena/template/crypsisb3/template.php
Labels: 5.1, enhance

#6101 Upgrade Fancybox to 3.4.0
  src/components/com_kunena/template/crypsis/assets/css/fancybox.css
  src/components/com_kunena/template/crypsis/assets/js/fancybox-min.js
  src/components/com_kunena/template/crypsisb3/assets/css/fancybox.css
  src/components/com_kunena/template/crypsisb3/assets/js/fancybox-min.js
Labels: 5.1, enhance
