Repository Kunena/Kunena-Forum, pull requests merged in 2019-03, with the labels that each got.

#6232 Update readme and set joomla 3.9.3 as minimal version
  README.md
  src/administrator/components/com_kunena/install/install.script.php
  src/install.php
Labels: 5.1

#6234 Issue in query on J! 4.0 : Field 'params' doesn't have a default value
  src/libraries/kunena/session.php
Labels: 5.1, bug

#6235 Improve error displayed from exception into Kunena
  src/libraries/kunena/error.php
Labels: 5.1, enhance

#6236 Let the possibility to show the error from exception on J!4.0
  src/libraries/kunena/error.php
Labels: 6.0

#6237 Bump version requirements
  README.md
  src/administrator/components/com_kunena/install/install.script.php
  src/install.php
Labels: 6.0

#6238 Catch exceptions on KunenaTable to track errors
  src/libraries/kunena/tables/kunena.php
Labels: 6.0

#6239 Convert some queries to use JDatabaseQuery
  src/administrator/components/com_kunena/controllers/ranks.php
  src/administrator/components/com_kunena/controllers/smilies.php
  src/administrator/components/com_kunena/controllers/tools.php
  src/administrator/components/com_kunena/models/categories.php
Labels: 6.0

#6240 Trying to get property 'title' in template/j3/rank/edit.php
  src/administrator/components/com_kunena/template/j3/rank/edit.php
  src/administrator/components/com_kunena/template/j4/rank/edit.php
Labels: 5.1, bug

#6242 Issue with report to stopforumspam which waiting a second parameter
  src/components/com_kunena/controllers/user.php
Labels: 5.1, bug

#6249 Deleted posts view don't have option to move items #6222
  src/components/com_kunena/controller/message/list/recent/display.php
Labels: 5.1, bug

#6248 Cleanup IP input don't have enough space
  src/administrator/components/com_kunena/template/j3/tools/cleanupip.php
Labels: 5.1, Backend, enhance

#6246 Allow one message per page
  src/libraries/kunena/config.php
Labels: 5.1

#6250 Parsing error in language file com_kunena.templates.ini
  src/administrator/components/com_kunena/controllers/users.php
  src/administrator/components/com_kunena/install/kunena.install.upgrade.xml
  src/administrator/components/com_kunena/install/sql/install/mysql/create_tables.utf8.sql
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.libraries.ini
  src/components/com_kunena/controllers/user.php
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/libraries/kunena/user/user.php
Labels: 5.1, bug

#6247 Avoid duplicate meta description on replies
  src/components/com_kunena/controller/topic/item/display.php
Labels: 5.1, enhance

#6259 Rating stars are not showing #6256
  src/components/com_kunena/template/crypsis/layouts/topic/item/rating/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/item/rating/default.php
Labels: 5.1, bug

#6261 Use namespace instead of JFile and JFolder
  src/administrator/components/com_kunena/controllers/templates.php
  src/administrator/components/com_kunena/install/controller.php
  src/administrator/components/com_kunena/install/model.php
  src/administrator/components/com_kunena/install/plugins/plg_kunena_easysocial/easysocial.php
  src/administrator/components/com_kunena/language/all/install.script.php
  src/administrator/components/com_kunena/views/templates/view.html.php
  src/components/com_kunena/controller/category/index/display.php
  src/components/com_kunena/controller/category/topics/display.php
  src/components/com_kunena/controller/topic/item/display.php
  src/components/com_kunena/controller/topic/list/recent/display.php
  src/components/com_kunena/controller/topic/list/user/display.php
  src/components/com_kunena/controller/user/item/display.php
  src/components/com_kunena/views/user/view.raw.php
  src/libraries/kunena/attachment/attachment.php
  src/libraries/kunena/bbcode/bbcode.php
  src/libraries/kunena/upload/helper.php
  src/libraries/kunena/upload/upload.php
Labels: 6.0, enhance

#6262 Replace KunenaFile by Jommla! File class only where it's possible
  src/administrator/components/com_kunena/controllers/templates.php
  src/components/com_kunena/controllers/user.php
  src/libraries/kunena/attachment/attachment.php
  src/libraries/kunena/attachment/helper.php
  src/libraries/kunena/forum/message/message.php
  src/libraries/kunena/image/helper.php
  src/libraries/kunena/path/path.php
  src/libraries/kunena/template/template.php
  src/libraries/kunena/upload/upload.php
Labels: 6.0, enhance

#6263 Replace KunenaFolder by Jommla! Folder class only where it's possible
  src/administrator/components/com_kunena/controllers/templates.php
  src/administrator/components/com_kunena/models/categories.php
  src/administrator/components/com_kunena/models/rank.php
  src/administrator/components/com_kunena/models/smiley.php
  src/administrator/components/com_kunena/models/tools.php
  src/components/com_kunena/controller/user/edit/avatar/display.php
  src/components/com_kunena/controllers/user.php
  src/components/com_kunena/layout/topic/edit/editor.php
  src/components/com_kunena/layout/widget/editor.php
  src/libraries/kunena/attachment/attachment.php
  src/libraries/kunena/cache/helper.php
  src/libraries/kunena/file/file.php
  src/libraries/kunena/image/helper.php
  src/libraries/kunena/template/helper.php
  src/libraries/kunena/template/template.php
  src/libraries/kunena/upload/upload.php
Labels: 6.0, enhance

#6264 Remove extends JFolder on KunenaFolder class
  src/libraries/kunena/folder/folder.php
Labels: 6.0, bug

#6265 Remove methods in KunenaImage which are available in Joomla! image class
  src/libraries/kunena/image/image.php
Labels: 6.0, enhance

#6266 Marks some methods as deprecated in KunenaImage class
  src/libraries/kunena/image/image.php
Labels: 5.1

#6267 Update version requiements
  README.md
  src/administrator/components/com_kunena/install/install.script.php
  src/install.php
Labels: 6.0, enhance

#6269 Remove wrong usage of getimagesize function
  README.md
  src/libraries/kunena/attachment/attachment.php
  src/libraries/kunena/file/file.php
  src/libraries/kunena/upload/upload.php
Labels: 6.0
