Repository Kunena/Kunena-Forum, pull requests merged in 2019-08, with the labels that each got.

#6541 Wrong links in Profile Recent Posts #6538
  src/components/com_kunena/template/aurelia/layouts/message/row/default.php
Labels: 6.0, bug

#6540 Frontend | Kunena Internal Error when you ban or unban an user #6511
  src/libraries/kunena/user/helper.php
Labels: 6.0, bug

#6546 BBCode editor | The poll symbol is available in all categories #6498
  src/media/kunena/core/js/poll.js
Labels: 6.0, bug

#6548 Set dev
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.1

#6551 Activation pending accounts are being deleted #6497
  src/administrator/components/com_kunena/controllers/tools.php
Labels: 5.1, bug

#6552 Remove Google+ from js social share
  src/components/com_kunena/template/crypsis/assets/js/jssocials.js
  src/components/com_kunena/template/crypsisb3/assets/js/jssocials.js
Labels: 5.1, enhance

#6550 Use site name for rss generator
  src/components/com_kunena/views/topics/view.feed.php
Labels: 5.1, enhance

#6557 Social Share icons are not displayed #6556
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/components/com_kunena/template/crypsis/assets/js/jssocials.js
  src/components/com_kunena/template/crypsis/assets/js/topic.js
  src/components/com_kunena/template/crypsisb3/assets/js/jssocials.js
  src/components/com_kunena/template/crypsisb3/assets/js/topic.js
Labels: 5.1, bug

#6558 Spoiler does not render the code #6553
  src/libraries/kunena/bbcode/bbcode.php
Labels: 5.1, bug

#6560 Only subscribed categories can marked as read #6559
  src/components/com_kunena/controller/topic/moderate/display.php
  src/components/com_kunena/controllers/user.php
  src/components/com_kunena/models/category.php
  src/components/com_kunena/views/common/view.html.php
  src/libraries/kunena/error.php
  src/libraries/kunena/forum/topic/rate/rate.php
  src/libraries/kunena/module/module.php
Labels: 6.0, bug

#6561 Simplify code after replacements by getIdentity()
  src/components/com_kunena/controller/topic/moderate/display.php
  src/components/com_kunena/controllers/user.php
  src/components/com_kunena/models/category.php
  src/components/com_kunena/views/common/view.html.php
  src/libraries/kunena/date.php
Labels: 6.0, enhance
