Repository Kunena/Kunena-Forum, pull requests merged in 2019-05, with the labels that each got.

#6292 Some datepickers are not translated #6170
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/components/com_kunena/template/crypsis/assets/js/search.js
  src/components/com_kunena/template/crypsis/layouts/announcement/edit/default.php
  src/components/com_kunena/template/crypsis/layouts/search/form/default.php
  src/components/com_kunena/template/crypsis/layouts/user/edit/profile/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/datepicker/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/editor/bbcode.php
  src/components/com_kunena/template/crypsis/layouts/widget/editor/wysibb.php
  src/components/com_kunena/template/crypsisb3/assets/js/search.js
  src/components/com_kunena/template/crypsisb3/layouts/announcement/edit/default.php
  src/components/com_kunena/template/crypsisb3/layouts/search/form/default.php
  src/components/com_kunena/template/crypsisb3/layouts/user/edit/profile/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/datepicker/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/editor/bbcode.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/editor/wysibb.php
Labels: 5.1, bug

#6295 Add Class to category header
  src/components/com_kunena/template/crypsis/layouts/topic/item/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/item/default.php
Labels: 5.1, enhance

#6296 Issue in query in category user helper which fail
  src/libraries/kunena/forum/category/user/helper.php
Labels: 6.0, bug

#6297 Let the possibility to rotate images other than jpg #6260
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/models/config.php
  src/administrator/components/com_kunena/template/j3/config/default.php
  src/administrator/components/com_kunena/template/j4/config/default.php
  src/libraries/kunena/config.php
  src/libraries/kunena/image/image.php
Labels: 6.0, enhance

#6301 Typo in forum/category/category.php
  src/libraries/kunena/forum/category/category.php
Labels: 6.0, bug

#6313 K6: Rating stars are not showing #6311
  src/components/com_kunena/template/crypsisb4/layouts/topic/item/rating/default.php
Labels: 6.0, bug

#6314 Facebook only accepts 52 characters #6306
  src/administrator/components/com_kunena/install/install.xml
  src/administrator/components/com_kunena/install/kunena.install.upgrade.xml
  src/administrator/components/com_kunena/install/sql/install/mysql/create_tables.utf8.sql
Labels: 6.0, bug

#6315 Update readme to set bootstrap 4 as minimum
  README.md
Labels: 6.0

#6321 Set aurelia in config instead of crypsis or crypsisb4
  src/administrator/components/com_kunena/install/sql/updates/php/6.0.0-2019-05-18_configuration.php
  src/components/com_kunena/language/en-GB/en-GB.kunena_tmpl_aurelia.ini
  src/components/com_kunena/template/aurelia/README.md
  src/components/com_kunena/template/aurelia/config/kunena_tmpl_aurelia.xml
Labels: 6.0, Aurelia, bug

#6322 Set aurelia in config instead of crypsis or crypsisb4 (Part 2)
  src/administrator/components/com_kunena/install/sql/updates/php/6.0.0-2019-05-18_configuration.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.install.ini
Labels: 6.0, Aurelia, bug

#6328 Exception in layout Topic/Edit/History! caused by typo in query
  src/libraries/kunena/forum/message/helper.php
Labels: 6.0, bug

#6327 [K6] Selectable Topic Icons are not visible
  src/components/com_kunena/template/aurelia/config/config.xml
Labels: 6.0, Aurelia

#6326 Update script to make symbolic links for plugins in install/plugins
  scripts/kunena_sym_links.bat
Labels: 6.0

#6325 Update copyright year
  build/phing/build.php
  src/administrator/components/com_kunena/install/plugins/plg_kunena_comprofiler/access.php
  src/administrator/components/com_kunena/install/plugins/plg_kunena_comprofiler/profile.php
  src/components/com_kunena/controller/category/manage/display.php
  src/components/com_kunena/layout/category/manage.php
  src/components/com_kunena/template/aurelia/assets/less/editor.less
  src/components/com_kunena/template/aurelia/pages/category/manage/default.php
  src/libraries/kunena/upload/helper.php
  src/media/kunena/core/css/markitup.css
Labels: 6.0

#6329 Update script to make symbolic link for media directory instead copy
  scripts/kunena_sym_links.bat
Labels: 6.0

#6331 Allow to install Kunena on supported versions of Php and MySQL
  src/administrator/components/com_kunena/install/install.script.php
  src/install.php
Labels: 6.0

#6340 Error when you delete or restore a topic #6337
  src/libraries/kunena/forum/topic/user/helper.php
Labels: 6.0, bug

#6342 Error when you delete or restore a topic #6337 (Revert changes)
  src/libraries/kunena/forum/topic/user/helper.php
Labels: 6.0, bug

#6351 Issue in query for smilies which prevents to load editor
  src/libraries/kunena/html/parser.php
Labels: 6.0, bug

#6352 Save session is broken
  src/libraries/kunena/tables/kunena.php
Labels: 6.0, bug

#6353 Issue in query for smilies which prevents to load editor (Part 2)
  src/libraries/kunena/html/parser.php
Labels: 6.0, bug

#6354 Exception in query in user helper which broke widget statistics
  src/libraries/kunena/user/helper.php
Labels: 6.0, bug

#6355 Frontend -> Category -> Error when you click on Mark Topics Read #6344
  src/libraries/kunena/forum/category/user/helper.php
Labels: 6.0, bug

#6356 Query broken to insert new item (related to #6344)
  src/libraries/kunena/tables/kunena.php
Labels: 6.0, bug

#6357 Frontend | Error when delete a single message permanently #6343
  src/libraries/kunena/forum/message/thankyou/helper.php
Labels: 6.0, bug

#6358 Array to string conversion in \tables\kunenamessages.php on line 320
  src/libraries/kunena/tables/kunenamessages.php
Labels: 6.0, bug

#6359 Undefined property: stdClass::$file in \kunena\html\parser.php
  src/libraries/kunena/html/parser.php
Labels: 6.0, bug

#6360 Cannot display topics in recent discussions
  src/libraries/kunena/forum/message/finder.php
  src/libraries/kunena/forum/topic/finder.php
Labels: 6.0, bug

#6362 Error on queries when deleting a topic
  src/libraries/kunena/forum/topic/finder.php
  src/libraries/kunena/forum/topic/topic.php
  src/libraries/kunena/tables/kunenamessages.php
Labels: 6.0, bug

#6363 Remove some misplace quote into IN on some queries
  src/libraries/kunena/forum/message/helper.php
  src/libraries/kunena/forum/statistics.php
  src/libraries/kunena/forum/topic/helper.php
  src/libraries/kunena/table/map.php
  src/libraries/kunena/user/finder.php
  src/libraries/kunena/user/helper.php
Labels: 6.0, bug

#6364 Issue in query near 'IS NULL AND ut.topic_id=2' at line 5
  src/libraries/kunena/forum/topic/user/helper.php
Labels: 6.0, bug

#6365 Issue near 'AS `ut` WHERE ( ( ( (`ut`.`posts` = 0) AND (`ut`.`owner` =
  src/libraries/kunena/forum/topic/user/helper.php
Labels: 6.0, bug

#6380 "Exception in layout Search/Results!" instead of search results #6378
  src/libraries/kunena/forum/message/helper.php
Labels: 6.0, bug

#6385 If you move/merge topics : You have an error in your SQL syntax... #6375
  src/libraries/kunena/forum/topic/topic.php
Labels: 6.0, bug

#6388 Error when you delete topics directly permanently #6366
  src/components/com_kunena/controllers/topics.php
Labels: 6.0, bug

#6396 It lacks the alert info when you subscribe a category #6336
  src/components/com_kunena/controllers/category.php
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.controllers.ini
  src/libraries/kunena/forum/category/category.php
Labels: 6.0, bug

#6397 Error when Recount Statistics #6341
  src/libraries/kunena/forum/topic/helper.php
  src/libraries/kunena/user/helper.php
Labels: 6.0, bug

#6395 User Ban Error | Exception throw at line 419 in file... #6377 #2165
  src/administrator/components/com_kunena/install/install.xml
  src/administrator/components/com_kunena/install/kunena.install.upgrade.xml
  src/administrator/components/com_kunena/install/sql/updates/php/6.0.0-2019-05-31_banneddatetimedefault.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.install.ini
  src/libraries/kunena/user/ban.php
  src/libraries/kunena/user/user.php
Labels: 6.0, bug

#6390 Database error on User Synchronization #6339
  src/administrator/components/com_kunena/controllers/tools.php
  src/libraries/kunena/forum/topic/user/helper.php
Labels: 6.0, bug

#6402 Missing save image file on changes to correct image orientation
  src/libraries/kunena/image/image.php
Labels: 6.0, bug
