Repository Kunena/Kunena-Forum, pull requests merged in 2019-06, with the labels that each got.

#6403 Prune categories | Unknown column 'Array' in 'where clause' #6393
  src/libraries/kunena/attachment/helper.php
  src/libraries/kunena/forum/category/category.php
Labels: 6.0, bug

#6404 Clean IP Adresses | Error in your SQL syntax #6392
  src/administrator/components/com_kunena/controllers/tools.php
Labels: 6.0, bug

#6405 Category subscription shows not in the user profile tab #6398
  src/libraries/kunena/forum/category/helper.php
Labels: 6.0, bug

#6406 Move some code which should be put in controller not in template
  src/components/com_kunena/controller/user/item/display.php
  src/components/com_kunena/template/aurelia/layouts/user/item/default.php
  src/components/com_kunena/template/aurelia/layouts/user/item/summary/default.php
Labels: 6.0, enhance

#6408 [K6] Search Box is not working properly #6333
  src/components/com_kunena/template/aurelia/layouts/widget/search/topic.php
Labels: 6.0, Aurelia, bug

#6409 Logs can't cleaned | The button Clean entries is inactive #6391
  src/administrator/components/com_kunena/views/logs/view.html.php
Labels: 6.0, Backend

#6416 Error when remove stored IP from messages older than 0 Days #6415
  src/administrator/components/com_kunena/controllers/tools.php
Labels: 6.0, bug

#6417 Diagnostic is no longer callable | 0 A query must be a string... #6412
  src/libraries/kunena/forum/diagnostics.php
Labels: 6.0, bug

#6418 Trash - Purge items isn't possible, only Cancel button is active #6389
  src/administrator/components/com_kunena/views/trash/view.html.php
Labels: 6.0, bug

#6419 Announcements are only published, if you enter a end date #6401
  src/components/com_kunena/controllers/announcement.php
  src/libraries/kunena/forum/announcement/helper.php
Labels: 6.0, bug

#6420 Usage of continue; is useless in try catch
  src/libraries/kunena/forum/message/message.php
Labels: 6.0, enhance

#6421 [K6] Can't edit Aurelia Template #6330
  src/administrator/components/com_kunena/controllers/templates.php
  src/administrator/components/com_kunena/models/templates.php
  src/administrator/components/com_kunena/views/templates/view.html.php
Labels: 6.0, bug

#6428 [K6] Can't convert reply into new topic #6312
  src/components/com_kunena/controllers/topic.php
  src/libraries/kunena/forum/topic/topic.php
  src/libraries/kunena/user/helper.php
Labels: 6.0, bug

#6429 [K6] Can't convert reply into new topic #6312 (Part 2)
  src/libraries/kunena/forum/topic/topic.php
Labels: 6.0, bug

#6430 Remaining a quote in query into IN statement
  src/administrator/components/com_kunena/install/plugins/plg_kunena_joomla/access.php
Labels: 6.0, bug

#6431 Variable ?q=xxx removed not supported anymore #2137
  src/components/com_kunena/models/search.php
  src/libraries/kunena/route/route.php
Labels: 6.0, enhance

#6432 Fatal error when you upload a new rank image or emoticon #6425
  src/libraries/kunena/upload/helper.php
Labels: 6.0, bug

#6435 Diagnostics | Syntax error when DELETE BROKEN ITEMS #6423
  src/libraries/kunena/forum/diagnostics.php
Labels: 6.0, bug

#6437 Remove KunenaDatabaseQuery file class
  src/libraries/kunena/database/query.php
Labels: 6.0, enhance

#6443 Report Configuration | The script Select all/copy does not work #6438
  src/administrator/components/com_kunena/template/tools/report.php
Labels: 6.0, bug

#6442 Remove cast to string on setQuery in finder
  src/libraries/kunena/database/object/finder.php
Labels: 6.0, enhance

#6444 Use isImage() method from MediaHelper to check is image in correctimage
  src/libraries/kunena/image/image.php
  src/libraries/kunena/upload/upload.php
Labels: 6.0, bug

#6445 Revert Use isImage() method from MediaHelper to check is image in correc
  src/libraries/kunena/image/image.php
  src/libraries/kunena/upload/upload.php
Labels: 6.0, bug

#6446 Error on script pollcheck.js on reply
  src/components/com_kunena/controller/topic/form/reply/display.php
Labels: 6.0, bug

#6447 Fix to able to load more than one attachement for each message #6384
  src/libraries/kunena/attachment/helper.php
Labels: 6.0, bug

#6448 Cat Permissions | Only switch between User Groups/Access Level #6439
  src/libraries/kunena/access.php
Labels: 6.0, bug

#6449 Remove support of recaptcha v1.0 which has been removed in joomla
  src/components/com_kunena/controllers/topic.php
Labels: 6.0, enhance

#6450 Remove couple of deprecated methods which aren't used anymore
  src/libraries/kunena/forum/message/finder.php
  src/libraries/kunena/forum/topic/topic.php
  src/libraries/kunena/template/template.php
  src/libraries/kunena/user/user.php
Labels: 6.0, enhance

#6451 Change on getemoticons method to move some code out of template
  src/components/com_kunena/template/aurelia/layouts/topic/edit/editor/default.php
  src/components/com_kunena/template/aurelia/layouts/widget/editor/bbcode.php
  src/libraries/kunena/html/parser.php
Labels: 6.0, enhance

#6453 [5.1] PHP 5.6 Compatibility issues #6452
  src/components/com_kunena/controllers/user.php
Labels: 5.1, bug

#6454 Change some code to report user to stopforumspam database
  src/components/com_kunena/controllers/user.php
  src/libraries/kunena/forum/message/helper.php
Labels: 6.0, enhance

#6455 Simplify and avoid duplicate code on social network part
  src/administrator/components/com_kunena/controllers/users.php
  src/components/com_kunena/controllers/user.php
Labels: 6.0, enhance

#6456 Add Pinterest in user profile #6305
  src/administrator/components/com_kunena/install/install.xml
  src/administrator/components/com_kunena/install/kunena.install.upgrade.xml
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.libraries.ini
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/libraries/kunena/user/user.php
Labels: 6.0, enhance

#6463 "No messages selected" if you want delete posts in the profile #6460
  src/components/com_kunena/controllers/topics.php
Labels: 6.0, bug

#6464 Attach Manager shows only one row with the last uploaded #6458
  src/libraries/kunena/attachment/finder.php
Labels: 6.0, bug

#6466 Use methods from Joomla Utilities IpHelper to get ip of user
  src/components/com_kunena/controllers/topic.php
  src/libraries/kunena/forum/category/category.php
  src/libraries/kunena/forum/message/message.php
  src/libraries/kunena/forum/topic/topic.php
  src/libraries/kunena/log/entry.php
  src/libraries/kunena/user/helper.php
Labels: 6.0, enhance

#6467 Feature: Block ip #4778 (Implement check against stopforumspam)
  src/components/com_kunena/controllers/topic.php
Labels: 6.0, enhance

#6469 Remove some usages of getimagesize() method
  src/components/com_kunena/template/aurelia/layouts/attachment/item/image.php
  src/components/com_kunena/template/system/layouts/attachment/item/image.php
  src/libraries/kunena/attachment/attachment.php
  src/libraries/kunena/user/user.php
Labels: 6.0, enhance

#6471 Function listItemTask undefined in backend
  src/administrator/components/com_kunena/template/categories/default.php
  src/administrator/components/com_kunena/template/ranks/default.php
  src/administrator/components/com_kunena/template/smilies/default.php
  src/administrator/components/com_kunena/template/templates/default.php
  src/administrator/components/com_kunena/template/users/default.php
Labels: 6.0, bug

#6470 Delete Attachments in the Frontend Attachment Manager is not possible #6459
  src/components/com_kunena/template/aurelia/assets/js/main.js
  src/components/com_kunena/template/aurelia/layouts/user/attachments/default.php
Labels: 6.0, bug

#6468 SEO: Duplicate title and description in user list
  src/components/com_kunena/controller/user/list/display.php
Labels: 5.1, enhance

#6473 depricated seterrors on libraries #4461 (Replace some under tables)
  src/libraries/kunena/database/object.php
  src/libraries/kunena/session.php
  src/libraries/kunena/tables/kunenaannouncements.php
  src/libraries/kunena/tables/kunenaattachments.php
  src/libraries/kunena/tables/kunenacategories.php
  src/libraries/kunena/tables/kunenakeywords.php
  src/libraries/kunena/tables/kunenamessages.php
  src/libraries/kunena/tables/kunenasessions.php
  src/libraries/kunena/tables/kunenatopics.php
  src/libraries/kunena/tables/kunenauserbans.php
  src/libraries/kunena/tables/kunenausercategories.php
  src/libraries/kunena/tables/kunenauserread.php
  src/libraries/kunena/tables/kunenausers.php
  src/libraries/kunena/tables/kunenausertopics.php
Labels: 6.0, enhance

#6477 Cancel button in the front end attachment manager is inactive #6475
  src/components/com_kunena/template/aurelia/layouts/user/attachments/default.php
Labels: 6.0, Aurelia

#6476 Fatal error when reply or quick reply #6474
  src/components/com_kunena/controllers/topic.php
  src/libraries/kunena/forum/message/message.php
  src/libraries/kunena/log/entry.php
Labels: 6.0, bug

#6481 Remove the _QQ_ in the frontend kunena.views.ini #6480
  src/components/com_kunena/controller/credits/display.php
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
Labels: 6.0, bug

#6482 Revert change in table kunenausers because it prevent guests to post
  src/libraries/kunena/Tables/kunenausers.php
Labels: 6.0, bug

#6485 In statistic option Most Active Posters the admin is still here #6400
  src/libraries/kunena/User/helper.php
Labels: 6.0, bug

#6486 Fatal error on reply/write message on displaying emoticons
  src/components/com_kunena/template/aurelia/layouts/widget/editor/wysibb.php
Labels: 6.0, bug

#6487 Mistake in changing names
  src/administrator/components/com_kunena/api.php
Labels: 6.0, bug

#6489 Fix issue since reverting names
  src/libraries/kunena/template/template.php
Labels: 6.0, bug

#6496 The button Views Poll Results is inactive #6495
  src/components/com_kunena/template/aurelia/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/aurelia/layouts/topic/poll/vote/default.php
Labels: 6.0, bug

#6494 Poll | Exception in layout Empty! #6492
  src/libraries/kunena/forum/topic/poll/poll.php
Labels: 6.0, bug
