Repository Kunena/Kunena-Forum, pull requests merged in 2020-03, with the labels that each got.

#6762 Try to fix Kunena install
  src/administrator/components/com_kunena/install/controller.php
  src/administrator/components/com_kunena/kunena.xml
  src/administrator/components/com_kunena/services/provider.php
Labels: 6.0

#6764 fix sanitize for access to user->timestamp by forum/avatar
  src/libraries/kunena/user/user.php
Labels: 5.1, enhance

#6765 Jomsocial activity saved the wrong url #6759
  src/administrator/components/com_kunena/install/plugins/plg_kunena_community/activity.php
Labels: 5.1, 6.0
