Repository Kunena/Kunena-Forum, pull requests merged in 2020-12, with the labels that each got.

#7747 [K5.2] Display exceptions message from Joomla\Image on KunenaImageHelper
  src/libraries/kunena/image/helper.php
Labels: 5.2, enhance

#7748 [5.2] [CKEditor] Remove attachments changes all BBCode to HTML 2nd #7717
  src/components/com_kunena/template/crypsis/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb4/assets/js/upload.main.js
Labels: 5.2, bug

#7755 [K5.2] Cannot access protected property KunenaBbcode::$tag_rules
  src/libraries/kunena/bbcode/bbcode.php
Labels: 5.2, bug

#7757 [K5.2] Update bat script to make symbolic link on blue eagle
  scripts/kunena_sym_links.bat
Labels: 5.2

#7758 [K5.2] Remove StumbleUpon in jssocials.js else it stays displayed
  src/components/com_kunena/template/crypsis/layouts/widget/karma/default.php
  src/media/kunena/core/js/jssocials.js
Labels: 5.2, bug

#7760 [K5.2] When allow_fopen_url is disabled not access page manage template
  src/administrator/components/com_kunena/models/templates.php
Labels: 5.2, bug

#7761 [K5.2] Catch exception on usage on stream on report stop forum spam
  src/administrator/components/com_kunena/models/templates.php
  src/components/com_kunena/controllers/user.php
Labels: 5.2, enhance

#7767 [K5.2] CKeditor: make working correctly the font size option
  src/media/kunena/core/js/ckeditor_config.js
Labels: 5.2, bug

#7768 [K5.2] [CKeditor] Summary of not working buttons #7619
  src/media/kunena/core/js/ckeditor_config.js
Labels: 5.2, bug

#7770 [CKEditor] PAdjust the dropdown lists of the Add Link dialog? #7710
  src/media/kunena/core/js/edit.js
Labels: 5.2, bug, enhance

#7772 [K5.2] Keep selected text when using one of the kunena bbcodes
  src/media/kunena/core/js/plugins/confidential/plugin.js
  src/media/kunena/core/js/plugins/ebay/plugin.js
  src/media/kunena/core/js/plugins/hidetext/plugin.js
  src/media/kunena/core/js/plugins/instagram/plugin.js
  src/media/kunena/core/js/plugins/soundcloud/plugin.js
  src/media/kunena/core/js/plugins/spoiler/plugin.js
  src/media/kunena/core/js/plugins/twitter/plugin.js
Labels: 5.2, bug

#7773 [K5.2] Keep selected text when using one of the kunena bbcodes (Part 2)
  src/media/kunena/core/js/plugins/code/plugin.js
Labels: 5.2, bug

#7771 Veekee fr topic icon crypsis
  src/components/com_kunena/template/crypsis/assets/less/general.less
Labels: 5.2, bug

#7792 [K5.2] Check that blue eagle 1.6 is allowed to be installed on K5.2
  src/libraries/kunena/template/helper.php
Labels: 5.2, enhance

#7794 [K5.2] Check before install template that are compatible with k version
  src/administrator/components/com_kunena/controllers/templates.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.controllers.ini
  src/components/com_kunena/template/crypsis/config/template.xml
  src/components/com_kunena/template/crypsisb3/config/template.xml
  src/components/com_kunena/template/crypsisb4/config/template.xml
  src/libraries/kunena/template/helper.php
Labels: 5.2, enhance

#7795 [K6.0] Remove unused and deprecated method templateCanBeUsed
  src/libraries/kunena/src/Template/KunenaTemplateHelper.php
Labels: 6.0

#7796 [K5.2] Undefined variable in bbcode/email and array string conversion
  src/components/com_kunena/template/crypsis/layouts/bbcode/email/default.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/email/default.php
  src/components/com_kunena/template/crypsisb4/layouts/bbcode/email/default.php
  src/libraries/kunena/bbcode/bbcode.php
Labels: 5.2, bug

#7797 [K5.2] Kunena configuration wasn't displaying some values
  src/administrator/components/com_kunena/models/tools.php
Labels: 5.2, bug

#7798 [K5.2] Undefined offset: 1 in /libraries/cms/html/email.php on line 55
  src/libraries/kunena/bbcode/bbcode.php
Labels: 5.2, bug

#7799 [K5.2] Missing code in in edit.js to open/close quickreply
  src/media/kunena/core/js/edit.js
Labels: 5.2, bug

#7801 [K5.2] Template settings for BBCode are ineffective #7774
  src/administrator/components/com_kunena/controllers/templates.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/components/com_kunena/template/crypsis/config/config.xml
  src/media/kunena/core/js/ckeditor_config.js
Labels: 5.2, bug

#7802 [K5.2] Set dev
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.2

#7803 [K5.2] Template settings for BBCode are missing settings #7774
  src/administrator/components/com_kunena/controllers/templates.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/components/com_kunena/template/crypsis/config/config.xml
  src/components/com_kunena/template/crypsisb3/config/config.xml
  src/components/com_kunena/template/crypsisb4/config/config.xml
Labels: 5.2, bug

#7806 [K5.2] Some BBCode buttons can't be disabled in CKeditor #7774
  src/administrator/components/com_kunena/controllers/templates.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/components/com_kunena/template/crypsis/config/config.xml
  src/components/com_kunena/template/crypsisb3/config/config.xml
  src/components/com_kunena/template/crypsisb4/config/config.xml
  src/media/kunena/core/js/ckeditor_config.js
Labels: 5.2, bug

#7808 [K5.2] Some BBCode buttons can't be disabled in CKeditor (Part 2) #7774
  src/administrator/components/com_kunena/controllers/templates.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/components/com_kunena/template/crypsis/config/config.xml
  src/components/com_kunena/template/crypsisb3/config/config.xml
  src/components/com_kunena/template/crypsisb4/config/config.xml
Labels: 5.2, bug

#7812 [K5.2] Add more checks when try to access template diretories
  src/administrator/components/com_kunena/views/templates/view.html.php
Labels: 5.2, bug

#7815 [K5.2] Videos which added with [video] tags will not displayed #7811
  src/libraries/kunena/bbcode/bbcode.php
Labels: 5.2, bug

#7816 [K5.2] Error message when not possible to get the xml file of templates
  src/administrator/components/com_kunena/models/templates.php
Labels: 5.2, bug

#7818 [K5.2] [CKEditor] Videos selected by provider shows only tag #7817
  src/media/kunena/core/js/plugins/video/dialogs/video.js
Labels: 5.2, bug

#7819 [K5.2] When set CKeditor skin in ckeditor_config.js it's lost #7809
  src/administrator/components/com_kunena/controllers/templates.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/language/fr-FR/fr-FR.com_kunena.controllers.ini
  src/components/com_kunena/template/crypsis/config/config.xml
  src/components/com_kunena/template/crypsis/layouts/widget/editor/ckeditor.php
  src/components/com_kunena/template/crypsisb3/config/config.xml
  src/components/com_kunena/template/crypsisb3/layouts/widget/editor/ckeditor.php
  src/components/com_kunena/template/crypsisb4/config/config.xml
  src/components/com_kunena/template/crypsisb4/layouts/widget/editor/ckeditor.php
  src/media/kunena/core/js/ckeditor_config.js
Labels: 5.2, enhance

#7820 [K5.2] Language string put in the wrong file #7809
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.controllers.ini
  src/administrator/components/com_kunena/language/fr-FR/fr-FR.com_kunena.controllers.ini
Labels: 5.2, bug

#7821 [K5.2] Error when the variable com_kunena.ckeditor_skiname is null #7809
  src/media/kunena/core/js/ckeditor_config.js
Labels: 5.2, bug

#7823 [K5.2] Typo after modifying name to crypsisb3 in headers
  src/components/com_kunena/template/crypsisb3/layouts/announcement/edit/default.php
  src/components/com_kunena/template/crypsisb3/layouts/announcement/item/default.php
  src/components/com_kunena/template/crypsisb3/layouts/announcement/list/default.php
  src/components/com_kunena/template/crypsisb3/layouts/announcement/list/row/default.php
  src/components/com_kunena/template/crypsisb3/layouts/attachment/item/audio.php
  src/components/com_kunena/template/crypsisb3/layouts/attachment/item/default.php
  src/components/com_kunena/template/crypsisb3/layouts/attachment/item/general.php
  src/components/com_kunena/template/crypsisb3/layouts/attachment/item/image.php
  src/components/com_kunena/template/crypsisb3/layouts/attachment/item/textlink.php
  src/components/com_kunena/template/crypsisb3/layouts/attachment/item/thumbnail.php
  src/components/com_kunena/template/crypsisb3/layouts/attachment/item/video.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/tableau/default.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/terminal/default.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/twitter/default.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/url/default.php
  src/components/com_kunena/template/crypsisb3/pages/announcement/create/default.php
  src/components/com_kunena/template/crypsisb3/pages/announcement/default/default.php
  src/components/com_kunena/template/crypsisb3/pages/announcement/edit/default.php
  src/components/com_kunena/template/crypsisb3/pages/announcement/list/default.php
  src/components/com_kunena/template/crypsisb3/pages/category/default/default.php
  src/components/com_kunena/template/crypsisb3/pages/category/list/default.php
  src/components/com_kunena/template/crypsisb3/pages/category/manage/default.php
  src/components/com_kunena/template/crypsisb3/pages/category/user/default.php
  src/components/com_kunena/template/crypsisb3/pages/credits/default/default.php
  src/components/com_kunena/template/crypsisb3/pages/misc/default/default.php
  src/components/com_kunena/template/crypsisb3/pages/search/default/default.php
  src/components/com_kunena/template/crypsisb3/pages/statistics/default/default.php
  src/components/com_kunena/template/crypsisb3/pages/statistics/whoisonline/default.php
  src/components/com_kunena/template/crypsisb3/pages/topic/create/default.php
  src/components/com_kunena/template/crypsisb3/pages/topic/default/default.php
  src/components/com_kunena/template/crypsisb3/pages/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/pages/topic/moderate/default.php
  src/components/com_kunena/template/crypsisb3/pages/topic/poll/default.php
  src/components/com_kunena/template/crypsisb3/pages/topic/reply/default.php
  src/components/com_kunena/template/crypsisb3/pages/topic/report/default.php
  src/components/com_kunena/template/crypsisb3/pages/topic/vote/default.php
  src/components/com_kunena/template/crypsisb3/pages/topics/default/default.php
  src/components/com_kunena/template/crypsisb3/pages/topics/moderator/default.php
  src/components/com_kunena/template/crypsisb3/pages/topics/posts/default.php
  src/components/com_kunena/template/crypsisb3/pages/topics/unread/default.php
  src/components/com_kunena/template/crypsisb3/pages/topics/user/default.php
  src/components/com_kunena/template/crypsisb3/pages/user/default/default.php
  src/components/com_kunena/template/crypsisb3/pages/user/edit/default.php
  src/components/com_kunena/template/crypsisb3/pages/user/list/default.php
  src/components/com_kunena/template/crypsisb3/pages/user/moderate/default.php
  src/components/com_kunena/template/crypsisb3/template.php
Labels: 5.2
