Repository Kunena/Kunena-Forum, pull requests merged in 2020-08, with the labels that each got.

#6892 Disallow new topic with empty message #6135
  src/libraries/kunena/bbcode/bbcode.php
Labels: 5.1, bug

#6891 SEO: Internal links should not use target="_blank" #6092
  src/components/com_kunena/template/crypsis/layouts/bbcode/url/default.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/url/default.php
Labels: 5.1, bug

#6565 Malformed URL in topic preview
  src/components/com_kunena/template/crypsis/assets/js/edit.js
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/assets/js/edit.js
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
Labels: no-pr-activity

#6893 Upload avatar fails when using nginx server
  src/components/com_kunena/template/crypsis/assets/js/upload.avatar.js
  src/components/com_kunena/template/crypsis/layouts/user/edit/avatar/default.php
  src/components/com_kunena/template/crypsisb3/assets/js/upload.avatar.js
  src/components/com_kunena/template/crypsisb3/layouts/user/edit/avatar/default.php
Labels: 5.1, bug

#6897 Rendering Error with Crypsisb3 #6895
  src/components/com_kunena/template/crypsisb3/layouts/topic/item/message/default.php
  src/components/com_kunena/template/crypsisb3/layouts/user/item/default.php
Labels: 5.1, bug

#6898 RSS Feed type not working as expected #5475
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.ini
  src/components/com_kunena/views/category/view.feed.php
Labels: 5.1, bug

#7412 [K5.1] Add Twitter Summary Card Image in Recent Topics
  src/components/com_kunena/controller/topic/list/recent/display.php
Labels: 5.1, enhance

#7413 [K5.1] Load gmaps version updated quartely in bbcode instead expe lib
  src/components/com_kunena/template/crypsis/layouts/bbcode/map/default.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/map/default.php
Labels: 5.1, enhance

#7414 [K5.1] Renamme test class used to get right quickreply field
  src/components/com_kunena/template/crypsis/assets/js/edit.js
  src/components/com_kunena/template/crypsis/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsis/layouts/message/edit/quickreply.php
  src/components/com_kunena/template/crypsisb3/assets/js/edit.js
  src/components/com_kunena/template/crypsisb3/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsisb3/layouts/message/edit/quickreply.php
Labels: 5.1, enhance

#7417 [K5.2] Port some fixes from K5.1 which haven't present into crypsisb4
  src/components/com_kunena/template/crypsisb3/layouts/message/list/default.php
  src/components/com_kunena/template/crypsisb4/assets/css/blank.gif
  src/components/com_kunena/template/crypsisb4/assets/css/bootstrap.datepicker-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/bootstrap.datepicker.css
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox.black-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox.black.css
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox.css
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox.white-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox.white.css
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox_loading.gif
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox_loading@2x.gif
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox_loading_2x.gif
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox_overlay.png
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox_sprite.png
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox_sprite@2x.png
  src/components/com_kunena/template/crypsisb4/assets/css/fancybox_sprite_2x.png
  src/components/com_kunena/template/crypsisb4/assets/css/fileupload-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/fileupload.css
  src/components/com_kunena/template/crypsisb4/assets/css/jquery.atwho-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/jquery.atwho.css
  src/components/com_kunena/template/crypsisb4/assets/css/jquery.fileupload-ui-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/jquery.fileupload-ui.css
  src/components/com_kunena/template/crypsisb4/assets/css/jssocials-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/jssocials-theme-classic-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/jssocials-theme-classic.css
  src/components/com_kunena/template/crypsisb4/assets/css/jssocials-theme-flat-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/jssocials-theme-flat.css
  src/components/com_kunena/template/crypsisb4/assets/css/jssocials-theme-minima-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/jssocials-theme-minima.css
  src/components/com_kunena/template/crypsisb4/assets/css/jssocials-theme-plain-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/jssocials-theme-plain.css
  src/components/com_kunena/template/crypsisb4/assets/css/jssocials.css
  src/components/com_kunena/template/crypsisb4/assets/css/markitup.css
  src/components/com_kunena/template/crypsisb4/assets/css/rating-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/rating.css
  src/components/com_kunena/template/crypsisb4/assets/css/wbbtheme-min.css
  src/components/com_kunena/template/crypsisb4/assets/css/wbbtheme.css
  src/components/com_kunena/template/crypsisb4/assets/fonts/wysibbiconfont-wb.eot
  src/components/com_kunena/template/crypsisb4/assets/fonts/wysibbiconfont-wb.ttf
  src/components/com_kunena/template/crypsisb4/assets/fonts/wysibbiconfont-wb.woff
  src/components/com_kunena/template/crypsisb4/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb4/layouts/attachment/item/thumbnail.php
  src/components/com_kunena/template/crypsisb4/layouts/email/report/default.php
  src/components/com_kunena/template/crypsisb4/layouts/email/subscription/default.php
  src/components/com_kunena/template/crypsisb4/layouts/email/subscription/moderator.php
  src/components/com_kunena/template/crypsisb4/layouts/message/list/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/ban/manager/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/edit/avatar/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/item/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/item/summary/default.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/editor/bbcode.php
  src/components/com_kunena/template/crypsisb4/template.php
Labels: 5.2

#7418 [K5.2] Port some fixes from K5.1 not present into crypsisb4 (Part 2)
  src/components/com_kunena/template/crypsisb4/layouts/bbcode/spoiler/default.php
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/quickreply.php
  src/components/com_kunena/template/crypsisb4/layouts/message/item/bottom/default.php
  src/components/com_kunena/template/crypsisb4/layouts/message/item/default.php
  src/components/com_kunena/template/crypsisb4/layouts/message/item/top/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/list/default.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/editor/wysibb.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/editor/wysibb_quick.php
  src/libraries/kunena/user/user.php
Labels: 5.2

#7419 [K5.2] Fix issues which break profile under crypsisb4
  src/components/com_kunena/template/crypsis/layouts/user/item/summary/default.php
  src/components/com_kunena/template/crypsisb3/layouts/user/item/summary/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/item/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/item/summary/default.php
Labels: 5.2

#7420 [K5.2] Fix issue which break search form in crypsisb4
  src/components/com_kunena/template/crypsisb4/layouts/search/form/default.php
Labels: 5.2

#7422 [K5.2] Set deprecated on class KunenaTemplateLegacy and CKunenaTools
  src/libraries/kunena/template/legacy.php
Labels: 5.2

#7423 [K6.0] Remove class KunenaTemplateLegacy and CKunenaTools
  src/libraries/kunena/Template/legacy.php
Labels: 6.0

#7425 [K5.2] Crypsisb4 : announcement list missing author column title
  src/components/com_kunena/template/crypsisb4/layouts/announcement/list/default.php
Labels: 5.2

#7426 [K5.2] Crypsisb4 : javascript files missing in assets
  src/components/com_kunena/template/crypsisb4/assets/js/bootstrap.datepicker.js
  src/components/com_kunena/template/crypsisb4/assets/js/canvas-to-blob.min.js
  src/components/com_kunena/template/crypsisb4/assets/js/fancybox-min.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.atwho.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.caret.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-audio.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-image.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-process.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-ui.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-validate.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-video.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.iframe-transport.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.wysibb.js
  src/components/com_kunena/template/crypsisb4/assets/js/jssocials.js
  src/components/com_kunena/template/crypsisb4/assets/js/krating.js
  src/components/com_kunena/template/crypsisb4/assets/js/load-image.all.min.js
  src/components/com_kunena/template/crypsisb4/assets/js/locales/bootstrap-datepicker.kunena.js
  src/components/com_kunena/template/crypsisb4/assets/js/localstorage.js
  src/components/com_kunena/template/crypsisb4/assets/js/markitup.js
  src/components/com_kunena/template/crypsisb4/assets/js/poll.js
  src/components/com_kunena/template/crypsisb4/assets/js/pollcheck.js
  src/components/com_kunena/template/crypsisb4/assets/js/rating.js
  src/components/com_kunena/template/crypsisb4/assets/js/sisyphus.js
  src/components/com_kunena/template/crypsisb4/assets/js/wysibb.lang.js
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/quickreply.php
  src/components/com_kunena/template/crypsisb4/layouts/user/edit/avatar/default.php
  src/components/com_kunena/template/crypsisb4/template.php
Labels: 5.2

#7424 [K5.2] Crypsisb4 | Rendering error with BBCode Editor #7421
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/editor/bbcode.php
Labels: 5.2, bug

#7427 [K5.2] Backport from 6.0 : Put karma minus and plus into widget
  src/components/com_kunena/template/crypsis/layouts/user/profile/default.php
  src/components/com_kunena/template/crypsis/layouts/user/profile/horizontal.php
  src/components/com_kunena/template/crypsis/layouts/widget/karma/default.php
  src/components/com_kunena/template/crypsisb3/layouts/user/profile/default.php
  src/components/com_kunena/template/crypsisb3/layouts/user/profile/horizontal.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/karma/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/profile/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/profile/horizontal.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/karma/default.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/karma/minus.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/karma/plus.php
  src/libraries/kunena/user/user.php
Labels: 5.2

#7428 [K5.2] Backport from K6.0: add on report configuration fileinfo,openssl
  README.md
  src/administrator/components/com_kunena/models/tools.php
Labels: 5.2

#7431 [K5.2] Backport K6.0 : report to stopforumspam successful, add entry log
  src/administrator/components/com_kunena/install/install.script.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/components/com_kunena/controllers/user.php
  src/install.php
  src/libraries/kunena/log/log.php
Labels: 5.2

#7432 [K5.2] Crypsisb4 : improve display of login dropdown
  src/components/com_kunena/template/crypsisb4/layouts/widget/login/login/desktop.php
Labels: 5.2

#7434 [K5.2] Crypsisb4 : missing a space in title in profile edit
  src/components/com_kunena/template/crypsisb4/layouts/user/edit/default.php
Labels: 5.2

#7437 [K5.1] Backport from K6.0 external library lessc to have fixes
  src/libraries/kunena/external/lessc/lessc.php
Labels: 5.1, bug

#7436 [K5.2] Some options don't have tooltip #6827
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.sys.ini
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.ini
  src/components/com_kunena/template/crypsis/layouts/user/profile/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/search/topic.php
  src/components/com_kunena/template/crypsisb3/layouts/user/profile/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/search/topic.php
  src/components/com_kunena/template/crypsisb4/layouts/user/profile/default.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/search/topic.php
Labels: 5.2, enhance

#7440 [K5.2] Fix undefined variable $profile on crypsis and crypsisb3
  src/components/com_kunena/template/crypsis/layouts/user/item/summary/default.php
  src/components/com_kunena/template/crypsisb3/layouts/user/item/summary/default.php
Labels: 5.2, bug

#7443 Fix undefined variable on user profile on messages
  src/components/com_kunena/template/crypsis/layouts/topic/item/message/default.php
  src/components/com_kunena/template/crypsis/layouts/user/profile/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/item/message/default.php
  src/components/com_kunena/template/crypsisb3/layouts/user/profile/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/item/message/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/profile/default.php
Labels: 5.2, bug

#7444 [K5.2] Setting to load fontawesom from CDN was not working
  src/libraries/kunena/template/template.php
Labels: 5.2, bug

#7439 [K5.2] Improve categories search results #5804
  src/administrator/components/com_kunena/models/categories.php
  src/libraries/kunena/forum/category/helper.php
Labels: 5.2, enhance

#7445 [K5.2] Update bat script to make symbolic links on integration plugins
  scripts/kunena_sym_links.bat
Labels: 5.2, enhance

#7449 [K5.2] Port K6.0: make able to move js and css from template in media
  src/libraries/kunena/template/template.php
Labels: 5.2, enhance

#7450 [K5.2] Reduce duplicate code into template.php file
  src/libraries/kunena/template/template.php
Labels: 5.2, enhance

#7451 [K5.2] Move some js files from templates to media/kunena/core/js
  src/components/com_kunena/template/crypsis/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsis/layouts/message/edit/quickreply.php
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/lightbox/default.php
  src/components/com_kunena/template/crypsisb3/assets/js/canvas-to-blob.min.js
  src/components/com_kunena/template/crypsisb3/assets/js/fancybox-min.js
  src/components/com_kunena/template/crypsisb3/assets/js/jquery.fileupload-audio.js
  src/components/com_kunena/template/crypsisb3/assets/js/jquery.fileupload-image.js
  src/components/com_kunena/template/crypsisb3/assets/js/jquery.fileupload-process.js
  src/components/com_kunena/template/crypsisb3/assets/js/jquery.fileupload-ui.js
  src/components/com_kunena/template/crypsisb3/assets/js/jquery.fileupload-validate.js
  src/components/com_kunena/template/crypsisb3/assets/js/jquery.fileupload-video.js
  src/components/com_kunena/template/crypsisb3/assets/js/jquery.fileupload.js
  src/components/com_kunena/template/crypsisb3/assets/js/jquery.iframe-transport.js
  src/components/com_kunena/template/crypsisb3/assets/js/load-image.all.min.js
  src/components/com_kunena/template/crypsisb3/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsisb3/layouts/message/edit/quickreply.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/lightbox/default.php
  src/components/com_kunena/template/crypsisb4/assets/js/canvas-to-blob.min.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-audio.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-image.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-process.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-ui.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-validate.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload-video.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.fileupload.js
  src/components/com_kunena/template/crypsisb4/assets/js/jquery.iframe-transport.js
  src/components/com_kunena/template/crypsisb4/assets/js/load-image.all.min.js
  src/components/com_kunena/template/crypsisb4/assets/js/sisyphus.js
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/quickreply.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
  src/libraries/kunena/template/template.php
  src/media/kunena/core/js/canvas-to-blob.min.js
  src/media/kunena/core/js/fancybox-min.js
  src/media/kunena/core/js/jquery.fileupload-audio.js
  src/media/kunena/core/js/jquery.fileupload-image.js
  src/media/kunena/core/js/jquery.fileupload-process.js
  src/media/kunena/core/js/jquery.fileupload-ui.js
  src/media/kunena/core/js/jquery.fileupload-validate.js
  src/media/kunena/core/js/jquery.fileupload-video.js
  src/media/kunena/core/js/jquery.fileupload.js
  src/media/kunena/core/js/jquery.iframe-transport.js
  src/media/kunena/core/js/load-image.all.min.js
  src/media/kunena/core/js/sisyphus.js
Labels: 5.2, enhance

#7455 [K5.2] Fix issue that js files not copied during install and clean them
  src/administrator/components/com_kunena/install/install.script.php
  src/components/com_kunena/template/crypsis/assets/js/sisyphus.js
  src/components/com_kunena/template/crypsis/layouts/widget/datepicker/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/social/default.php
  src/components/com_kunena/template/crypsisb3/assets/js/bootstrap.datepicker.js
  src/components/com_kunena/template/crypsisb3/assets/js/jssocials.js
  src/components/com_kunena/template/crypsisb3/assets/js/locales/bootstrap-datepicker.kunena.js
  src/components/com_kunena/template/crypsisb3/layouts/widget/datepicker/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/social/default.php
  src/components/com_kunena/template/crypsisb4/assets/js/bootstrap.datepicker.js
  src/components/com_kunena/template/crypsisb4/assets/js/jssocials.js
  src/components/com_kunena/template/crypsisb4/assets/js/locales/bootstrap-datepicker.kunena.js
  src/components/com_kunena/template/crypsisb4/layouts/widget/datepicker/default.php
  src/media/kunena/core/js/bootstrap-datepicker.lang.kunena.js
  src/media/kunena/core/js/bootstrap.datepicker.js
  src/media/kunena/core/js/jssocials.js
  src/media/kunena/kunena_media.xml
Labels: 5.2, bug

#7454 [K5.2] Preview does not work when Direct Component Access = No #7448
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
Labels: 5.2, bug

#7457 [K5.2] Port from K6.0 : make ranks translatable
  src/administrator/components/com_kunena/install/kunena.install.upgrade.xml
  src/administrator/components/com_kunena/install/sql/install/php/sampledata.php
  src/administrator/components/com_kunena/install/sql/updates/php/5.2.0-2020-08-20_updaterankstitle.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.install.ini
  src/libraries/kunena/user/user.php
Labels: 5.2, enhance

#7458 [K5.2] Create a widget to render CSS ranks in templates to reduce code
  src/administrator/components/com_kunena/template/j3/ranks/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/ranks/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/ranks/default.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/ranks/default.php
  src/libraries/kunena/user/user.php
Labels: 5.2, enhance

#7452 [K5.2] The counter in deleted posts is empty #7447
  src/components/com_kunena/controller/message/list/recent/display.php
Labels: 5.2, bug

#7453 [K5.2] Change the message received when post is approved #7446
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.libraries.ini
  src/components/com_kunena/controllers/topic.php
  src/components/com_kunena/template/crypsis/layouts/email/subscription/default.php
  src/libraries/kunena/forum/message/message.php
  src/libraries/kunena/forum/topic/topic.php
Labels: 5.2, enhance

#7468 [5.2] Backend: category permissions missing strings bat script #7466
  scripts/kunena_sym_links.bat
Labels: 5.2, bug

#7471 [K5.2] Notice /kunena/forum/message/message.php on line 333 #7469
  src/libraries/kunena/forum/message/message.php
Labels: 5.2, bug

#7473 [K5.2] Change the message received when post is approved (part 2) #7470
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.libraries.ini
  src/components/com_kunena/template/crypsis/layouts/email/subscription/default.php
  src/components/com_kunena/template/crypsisb3/layouts/email/subscription/default.php
  src/components/com_kunena/template/crypsisb4/layouts/email/subscription/default.php
Labels: 5.2, enhance

#7476 [K5.2] On tweet widget wrong link on posted date of tweet
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.ini
  src/components/com_kunena/template/crypsis/layouts/bbcode/twitter/default.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/twitter/default.php
  src/components/com_kunena/template/crypsisb4/layouts/bbcode/twitter/default.php
Labels: 5.2, bug

#7477 [K5.2] Tweet actions icons are diplayed on top when lightbox is showed
  src/components/com_kunena/template/crypsis/assets/less/twitter.less
  src/components/com_kunena/template/crypsisb3/assets/less/twitter.less
  src/components/com_kunena/template/crypsisb4/assets/less/twitter.less
Labels: 5.2, bug

#7478 [K6.0] Workaround to make working installation of Kunena
  src/libraries/kunena/Install/kunenamodelinstall.php
  src/script.php
Labels: 6.0, bug

#7479 [K6.0] Use bootstrap 4 to design the login form for uninstall part
  src/admin/tmpl/tools/uninstall.php
Labels: 6.0, Backend

#7482 [K5.2] kunena_announcement disappears when Show Announcement = No #7472
  src/components/com_kunena/template/crypsis/layouts/page/default.php
  src/components/com_kunena/template/crypsis/layouts/widget/announcement/default.php
  src/components/com_kunena/template/crypsisb3/layouts/page/default.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/announcement/default.php
  src/components/com_kunena/template/crypsisb4/layouts/page/default.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/announcement/default.php
Labels: 5.2, bug

#7489 [K5.2] Use boostrap 4 styling for select items
  src/components/com_kunena/template/crypsisb4/layouts/announcement/list/default.php
  src/components/com_kunena/template/crypsisb4/layouts/category/item/default.php
  src/components/com_kunena/template/crypsisb4/layouts/message/list/default.php
  src/components/com_kunena/template/crypsisb4/layouts/search/form/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/list/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/ban/form/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/edit/avatar/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/edit/profile/default.php
Labels: 5.2, Crypsisb4

#7481 [K5.2] Undefined property: stdClass::$readable in message list #7480
  src/components/com_kunena/template/crypsisb4/layouts/message/item/default.php
Labels: 5.2, Crypsisb4, bug
