Repository Kunena/Kunena-Forum, pull requests merged in 2021-12, with the labels that each got.

#8595 [K5.2] Revert changes about anonymous checkbox and hide sensitive
  CHANGES.md
  src/components/com_kunena/template/crypsis/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsis/layouts/message/edit/quickreply.php
  src/components/com_kunena/template/crypsisb3/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsisb3/layouts/message/edit/quickreply.php
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/quickreply.php
Labels: bug, 5.2

#8596 [K5.2]Revert changes about anonymous checkbox/hide sensitive (Part2)
  CHANGES.md
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
Labels: bug, 5.2

#8597 [K5.2] Crypsisb3 and Crypsisb4 : Revert changes about anonymous checkbox
  CHANGES.md
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
Labels: bug, 5.2

#8598 [K5.2]Crypsisb4:in QR the anonymous box and subscribed are in same place
  CHANGES.md
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/quickreply.php
Labels: 5.2, Crypsisb4

#8599 [K5.2]Crypsisb4:in QR with modal and always visible are in same place
  CHANGES.md
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/full.php
  src/components/com_kunena/template/crypsisb4/layouts/message/edit/quickreply.php
Labels: 5.2, Crypsisb4

#8601 [K5.2]Missing language string for BS4 setting in CrypsisB4 #8600
  CHANGES.md
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/libraries/kunena/icons/icons.php
Labels: Language, 5.2

#8602 [K5.2] Crypsisb4 want to load bootstrap 2 instead of svg #8600
  CHANGES.md
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/components/com_kunena/template/crypsisb4/config/config.xml
  src/components/com_kunena/template/crypsisb4/layouts/user/attachments/default.php
Labels: 5.2, Crypsisb4

#8603 [K6.0] Remove useless B4 setting in KunenaIcons
  src/libraries/kunena/src/Icons/KunenaIcons.php
  src/site/language/en-GB/en-GB.com_kunena.templates.ini
  src/site/template/aurelia/config/config.xml
Labels: 6.0, Aurelia

#8604 [K6.0]Loading ext icons reduces size of the forum pages by half #8313
  src/site/language/en-GB/en-GB.com_kunena.templates.ini
  src/site/template/aurelia/config/config.xml
  src/site/template/aurelia/template.php
Labels: bug, 6.0

#8605 [K5.2] Set dev
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.2

#8608 [K6.0] Link end to 404 in build properties file
  build.properties
Labels: 6.0

#8609 [K6.0]If used SCEditor:With every Kunena update params overwritten #8563
  build.xml
Labels: bug, 6.0

#8610 [K6.0] The bar for selectable topic icons lacks in the editor #8324
  src/libraries/kunena/src/Template/KunenaTemplate.php
Labels: bug, 6.0

#8611 [K6.0] png and gif images will be changed to JPEG during upload #8531
  src/libraries/kunena/src/Image/KunenaImage.php
Labels: bug, 6.0

#8612 [K6.0] Wrong layout on choose a template as Default #8559
  src/admin/src/Controller/TemplateController.php
  src/admin/src/Controller/TemplatesController.php
Labels: bug, 6.0

#8613 [K6.0] Not possible to edit an user in backend in user manager
  src/admin/src/View/User/HtmlView.php
  src/admin/tmpl/user/edit.php
Labels: bug, 6.0

#8618 [K6.0]On Kunena menu item Home lacks the option Default Menu Item #8164
  src/site/tmpl/home/default.xml
Labels: bug, 6.0

#8623 [K5.2] Update link to ebay dev page in config panel and remove useless
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_actionlogs.ini
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
Labels: Language, 5.2

#8624 [K6.0] Port some changes from K5.2 untill 11 december 2021
  src/admin/language/en-GB/en-GB.com_kunena.libraries.ini
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
  src/site/template/aurelia/assets/js/edit.js
  src/site/template/aurelia/layouts/message/edit/full.php
Labels: 6.0

#8625 [K6.0]First part of fixes to avoid some deprecated messaegs with php 8.1
  src/libraries/kunena/src/Controller/KunenaControllerBase.php
  src/libraries/kunena/src/Profiler/KunenaProfiler.php
  src/site/src/Controller/Topic/Item/TopicItemDisplay.php
Labels: bug, 6.0

#8626 [K6.0] Fix deprecated messages with php 8.1 (part 2)
  src/libraries/kunena/src/Collection/KunenaCollection.php
  src/libraries/kunena/src/Layout/KunenaLayout.php
  src/libraries/kunena/src/User/KunenaBan.php
  src/site/src/Controller/Widget/Menu/WidgetMenuDisplay.php
Labels: bug, 6.0

#8627 [K5.2] Wrong language string for desc crypsis b4 in backend
  src/components/com_kunena/language/en-GB/en-GB.kunena_tmpl_crypsisb4.ini
Labels: Language, 5.2

#8634 Fixes icons disappearing in Kunena 5.2.7 (Fixes #8622)
  src/administrator/components/com_kunena/install/plugins/plg_kunena_comprofiler/avatar.php
Labels: bug, 5.2

#8635 [K6.0]Avatar tab shouldn't be visible in profile if Gravatar used #8620
  src/site/template/aurelia/layouts/user/edit/default.php
Labels: bug, 6.0

#8636 [K6.0]Uploaded .gif avatar breaks the page in the frontend/backend #8619
  src/libraries/kunena/src/Image/KunenaImage.php
Labels: bug, 6.0

#8637 [K6.0] Set Joomla! 4.0.5 as minimum version
  README.md
  src/script.php
Labels: 6.0

#8638 [K5.2] Set Joomla! 3.10.4 as minimum version
  CHANGES.md
  README.md
  src/administrator/components/com_kunena/install/install.script.php
  src/install.php
Labels: 5.2

#8639 [K5.2] Remove deprecated state on resize() method in KunenaImage class
  CHANGES.md
  src/libraries/kunena/image/image.php
Labels: 5.2

#8641 [K6.0] Wrong links to the Joomla registration form #8640
  src/libraries/kunena/src/Login/KunenaLogin.php
Labels: bug, 6.0

#8642 [K6.0] Wrong links to the Joomla registration form #8640 (Part 2)
  src/libraries/kunena/src/Login/KunenaLogin.php
Labels: bug, 6.0

#8643 [K6.0] Configuration: The button Restore Default is inactive #8570
  src/admin/src/View/Config/HtmlView.php
  src/admin/tmpl/config/default.php
  src/admin/tmpl/config/default_setting.php
Labels: bug

#8644 [K6.0] Fatal error when opening logs manager in backend #8411
  src/admin/src/Model/LogsModel.php
  src/libraries/kunena/src/Log/KunenaLogFinder.php
Labels: bug, 6.0

#8645 [K6.0]Upgrade from K5.2 with exists Logs to K6.0 results in errors #8411
  src/admin/src/Model/LogsModel.php
  src/libraries/kunena/src/Log/KunenaLogFinder.php
Labels: bug, 6.0

#8646 [K6.0] Fatal error on Php 8.0+ when using ul/li list bbcode in messages
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
Labels: bug, 6.0

#8648 [K6.0] Error when initialize custom error handler on non-git env
  src/libraries/kunena/src/Error/KunenaError.php
Labels: bug, 6.0

#8649 [K6.0] KunenaForum::isDev() return always true
  src/libraries/kunena/src/Forum/KunenaForum.php
Labels: bug, 6.0

#8652 Set dev
  src/pkg_kunena.xml
Labels: 6.0

#8653 [K6.0]Topic pagination: 404 View not found
  src/libraries/kunena/src/Route/KunenaRoute.php
Labels: bug, 6.0

#8655 [K6.0] Notice: Undefined index when message body is empty (Part 2) #6666
  src/site/template/aurelia/assets/js/edit.js
  src/site/template/aurelia/layouts/topic/edit/default.php
Labels: bug, 6.0

#8656 [K6.0] Put the code specific to sceditor for kunena in a separate file
  src/site/template/aurelia/assets/js/edit.js
  src/site/template/aurelia/assets/js/sceditor.js
  src/site/template/aurelia/layouts/topic/edit/default.php
  src/site/template/aurelia/layouts/widget/editor/ckeditor.php
  src/site/template/aurelia/layouts/widget/editor/sceditor.php
Labels: 6.0

#8657 [K6.0] KunenaUserHelper::isIPv6():Argument #1 ($ip) must be of type int
  src/libraries/kunena/src/User/KunenaUserHelper.php
Labels: bug, 6.0

#8659 [K6.0] On quote/reply enable submit button when content is present
  src/site/template/aurelia/assets/js/edit.js
Labels: bug, 6.0

#8660 [K6.0]Enable submit button with sceditor when textarea value has changed
  src/site/template/aurelia/assets/js/sceditor.js
Labels: enhance, 6.0

#8661 [K6.0] Update SCeditor to 3.1.0 version
  src/media/kunena/core/js/sceditor/bbcode.js
  src/media/kunena/core/js/sceditor/sceditor.js
Labels: 6.0

#8662 [K5.2]Set legacy url to disabled/deprecated by default,notice if enabled
  CHANGES.md
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/template/j3/config/default.php
  src/libraries/kunena/config.php
Labels: 5.2

#8663 [K6.0] Some others fixes to remove couple of warning when using Php 8.1
  src/admin/tmpl/trash/messages.php
  src/admin/tmpl/trash/topics.php
  src/libraries/kunena/src/Forum/Category/KunenaCategory.php
  src/libraries/kunena/src/User/KunenaUser.php
Labels: 6.0

#8664 [K5.2] Renamme variable editor_type into editorType
  CHANGES.md
  src/components/com_kunena/controller/topic/form/create/display.php
  src/components/com_kunena/controller/topic/form/edit/display.php
  src/components/com_kunena/controller/topic/form/reply/display.php
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
Labels: 5.2

#8666 [K5.2] Change the javascript variable to com_kunena.kunena_upload_files_preload_for_edit
  CHANGES.md
  src/components/com_kunena/template/crypsis/assets/js/upload.main.js
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
Labels: 5.2

#8667 [K5.2] When insert all is clicked prevent press enter fire the button
  CHANGES.md
  src/components/com_kunena/template/crypsis/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb4/assets/js/upload.main.js
Labels: bug, 5.2

#8668 [K5.2]Insert All Button not put the attachments in place of cursor #7990
  CHANGES.md
  src/components/com_kunena/template/crypsis/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb4/assets/js/upload.main.js
Labels: bug, 5.2

#8669 [K6.0] Fix to support bbcode tag in K5.1 and fix link to post for K5.2
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
  src/site/template/aurelia/layouts/bbcode/quote/default.php
Labels: bug, 6.0

#8670 [K5.2] Fix to support bbcode tag in K5.1 and fix link to post for K5.2
  CHANGES.md
  src/components/com_kunena/template/crypsis/layouts/bbcode/quote/default.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/quote/default.php
  src/components/com_kunena/template/crypsisb4/layouts/bbcode/quote/default.php
  src/libraries/kunena/bbcode/bbcode.php
Labels: bug, 5.2

#8671 [K6.0] Some others fixes to remove deprecated warning with Php 8.1
  src/libraries/kunena/src/Layout/KunenaLayout.php
  src/site/template/aurelia/layouts/topic/edit/default.php
  src/site/template/aurelia/layouts/widget/editor/ckeditor.php
  src/site/template/aurelia/layouts/widget/editor/sceditor.php
  src/site/template/aurelia/layouts/widget/search/user.php
Labels: 6.0

#8672 [K5.2] Fix Undefined array key when using [sub] and [sup] bbcode
  CHANGES.md
  src/libraries/kunena/bbcode/bbcode.php
Labels: bug, 5.2

#8675 [K6.0] Kunena throws error when installing module via discovery #8674
  src/plugins/plg_system_kunena/kunena.php
Labels: bug, 6.0

#8676 [K6.0] Allow to install on Joomla! 4.1.0-dev
  src/script.php
Labels: 6.0

#8678 [K5.2]Change to comply ebay API changes in order to retrieve ebay item
  CHANGES.md
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
  src/administrator/components/com_kunena/template/j3/config/default.php
  src/libraries/kunena/bbcode/bbcode.php
  src/libraries/kunena/config.php
Labels: bug, 5.2

#8683 [K5.2] The setting of ebay cert id wasn't saved and improve code ebay
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.libraries.ini
  src/administrator/components/com_kunena/template/j3/config/default.php
  src/components/com_kunena/template/crypsis/layouts/bbcode/ebay/default.php
  src/libraries/kunena/bbcode/bbcode.php
  src/libraries/kunena/config.php
Labels: bug, 5.2

#8684 [K5.2]Missing to apply changes for ebay in crypsisb3 and crypsisb4
  CHANGES.md
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/ebay/default.php
  src/components/com_kunena/template/crypsisb4/layouts/bbcode/ebay/default.php
Labels: bug, 5.2

#8688 [K5.2] Missing comment on js on code which prevent press on enter key
  CHANGES.md
  src/components/com_kunena/template/crypsis/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb3/assets/js/upload.main.js
  src/components/com_kunena/template/crypsisb4/assets/js/upload.main.js
Labels: 5.2

#8689 [K6.0] Update gravatar external lib from a more recent fork
  src/libraries/kunena/External/Emberlabs/Gravatar.php
  src/plugins/plg_kunena_gravatar/KunenaAvatarGravatar.php
Labels: enhance, 6.0

#8690 [K6.0] Wrong definition of use to call uri class in kunenaavatargravatar
  src/plugins/plg_kunena_gravatar/KunenaAvatarGravatar.php
Labels: bug, 6.0

#8691 [K6.0] Profile position top or bottom shows the content vertically #8677
  src/site/template/aurelia/layouts/user/profile/horizontal.php
Labels: 6.0, Aurelia

#8692 [K5.2]Profile position top or bottom shows the content vertically #8677
  CHANGES.md
  src/components/com_kunena/template/crypsisb4/layouts/user/profile/horizontal.php
Labels: 5.2, Crypsisb4

#8694 [K6.0] Cannot post or edit topic - but only after a few posts #8693
  src/plugins/plg_kunena_comprofiler/KunenaActivityComprofiler.php
Labels: bug, 6.0
