Repository Kunena/Kunena-Forum, pull requests merged in 2021-04, with the labels that each got.

#7991 [K5.2] Set dev
  CHANGES.md
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.2

#7994 [K5.2]We need other message when enable not needed Kunena plugins #5956
  CHANGES.md
  src/administrator/components/com_kunena/controllers/plugins.php
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.controllers.ini
Labels: 5.2, bug, enhance

#7995 [K5.2]When try to enabling some integration plugins it don't work #5956
  CHANGES.md
  src/administrator/components/com_kunena/controllers/plugins.php
  src/administrator/components/com_kunena/install/plugins/plg_kunena_altauserpoints/altauserpoints.php
  src/administrator/components/com_kunena/install/plugins/plg_kunena_community/community.php
  src/administrator/components/com_kunena/install/plugins/plg_kunena_comprofiler/comprofiler.php
  src/administrator/components/com_kunena/install/plugins/plg_kunena_easyblog/easyblog.php
  src/administrator/components/com_kunena/install/plugins/plg_kunena_easyprofile/easyprofile.php
  src/administrator/components/com_kunena/install/plugins/plg_kunena_gravatar/class.php
  src/administrator/components/com_kunena/install/plugins/plg_kunena_uddeim/uddeim.php
Labels: 5.2, bug

#7998 [K5.2]When quote a message with username with more than one word
  CHANGES.md
  src/libraries/kunena/bbcode/bbcode.php
  src/libraries/kunena/forum/message/message.php
Labels: 5.2, bug

#7999 [K5.2] An username appears on quote even when not related to a message
  CHANGES.md
  src/libraries/kunena/bbcode/bbcode.php
Labels: 5.2, bug

#8000 [K5.2] Impossible to choose birthdate with datepicker #7996
  CHANGES.md
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/components/com_kunena/template/crypsis/assets/js/main.js
  src/components/com_kunena/template/crypsis/layouts/widget/datepicker/default.php
  src/components/com_kunena/template/crypsisb3/assets/js/main.js
  src/components/com_kunena/template/crypsisb3/layouts/widget/datepicker/default.php
  src/components/com_kunena/template/crypsisb4/assets/js/main.js
  src/components/com_kunena/template/crypsisb4/layouts/widget/datepicker/default.php
  src/media/kunena/core/js/bootstrap-datepicker.lang.kunena.js
Labels: 5.2, bug

#8001 [K5.2] Set the following date format for all datepicker : yyyy-mm-dd
  CHANGES.md
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/components/com_kunena/template/crypsis/assets/js/main.js
  src/components/com_kunena/template/crypsis/layouts/search/form/default.php
  src/components/com_kunena/template/crypsis/layouts/user/edit/profile/default.php
  src/components/com_kunena/template/crypsisb3/assets/js/main.js
  src/components/com_kunena/template/crypsisb3/layouts/search/form/default.php
  src/components/com_kunena/template/crypsisb3/layouts/user/edit/profile/default.php
  src/components/com_kunena/template/crypsisb4/assets/js/main.js
  src/components/com_kunena/template/crypsisb4/layouts/search/form/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/edit/profile/default.php
  src/media/kunena/core/js/plugins/polls/dialogs/polls.js
Labels: 5.2

#8002 [K5.2] On crypsisb3 and crypsisb4 some strings of poll dialog not here
  CHANGES.md
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
  src/media/kunena/core/js/plugins/polls/dialogs/polls.js
Labels: 5.2, bug

#8007 [K5.2] On crypsisb3 and crypsisb4 when edit a poll the fields not filled
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
Labels: 5.2, bug

#8008 [K5.2] Display poll endtime if exist next to the poll title
  CHANGES.md
  src/components/com_kunena/template/crypsis/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsis/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/poll/vote/default.php
Labels: 5.2, enhance

#8010 [K5.2] Set a bit smaller the poll life time
  CHANGES.md
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/components/com_kunena/template/crypsis/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsis/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/poll/vote/default.php
Labels: 5.2, enhance

#8011 [K5.2] On crypsisb3/b4, poll icon is disabled on cat which have sub-cat
  CHANGES.md
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
Labels: 5.2, bug

#8012 [K5.2]Quote on messages done on previous versions not show author user
  CHANGES.md
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.libraries.ini
  src/libraries/kunena/bbcode/bbcode.php
  src/libraries/kunena/forum/message/message.php
Labels: 5.2, bug

#8013 [K5.2]When the poll has ended display a different string next poll life
  CHANGES.md
  src/components/com_kunena/controller/topic/poll/display.php
  src/components/com_kunena/language/en-GB/en-GB.com_kunena.templates.ini
  src/components/com_kunena/template/crypsis/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsis/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/poll/vote/default.php
Labels: 5.2, bug

#8014 [K5.2] Ban from forum does not work (part 2) #6023
  CHANGES.md
  src/administrator/components/com_kunena/install/kunena.install.upgrade.xml
  src/libraries/kunena/user/ban.php
Labels: 5.2, bug

#8015 [K6.0] Remove changes on banned in kunena_users which are done in K5.2
  src/admin/language/en-GB/en-GB.com_kunena.install.ini
  src/admin/sql/install/mysql/create_tables.utf8.sql
  src/admin/sql/install/schema/install.xml
  src/admin/sql/updates/php/6.0.0-2019-05-31_banneddatetimedefault.php
Labels: 6.0

#8016 [K6.0]Remove Kunena menu creation during install,done in post-install
  src/admin/tmpl/cpanel/default.php
  src/script.php
Labels: 6.0

#8017 [K6.0] Rename TableKunenaSessions to KunenaSessions J! can't load it
  src/libraries/kunena/src/Tables/KunenaSessions.php
Labels: 6.0

#8021 [K5.2] Polls are not displayed Rendering Error in layout ... #8020
  CHANGES.md
  src/components/com_kunena/template/crypsis/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/poll/vote/default.php
Labels: 5.2, bug

#8024 [bbcode] Allowing ',' in font name
  src/libraries/kunena/bbcode/bbcode.php
Labels: 5.2, bug

#8026 [K6.0] Try to fix search part in frontend and some others view
  src/libraries/kunena/src/Controller/KunenaControllerApplication.php
  src/libraries/kunena/src/Forum/Topic/KunenaTopic.php
  src/libraries/kunena/src/Request/KunenaRequest.php
  src/site/src/Controller/Search/Form/SearchFormDisplay.php
  src/site/src/Controller/Search/Results/SearchResultsDisplay.php
  src/site/src/Controller/Topic/Form/Create/TopicFormCreateDisplay.php
  src/site/src/Controller/Topic/Listing/Unread/TopicListingUnreadDisplay.php
  src/site/src/Controller/Topic/Listing/User/TopicListUserDisplay.php
  src/site/src/Layout/Search/KunenaLayoutSearchForm.php
  src/site/src/Layout/User/KunenaLayoutUserItem.php
  src/site/src/Model/SearchModel.php
  src/site/template/aurelia/layouts/search/form/default.php
  src/site/template/aurelia/layouts/search/results/default.php
  src/site/template/aurelia/layouts/search/results/row/default.php
  src/site/template/aurelia/pages/search/default/default.php
  src/site/template/aurelia/pages/topics/unread/default.php
Labels: 6.0, bug

#8027 [K5.2] To get the list of premium templates check if the method are here
  CHANGES.md
  src/administrator/components/com_kunena/models/templates.php
Labels: 5.2, bug

#8028 [K6.0] Try to fix profile view in frontend
  src/libraries/kunena/src/User/KunenaBan.php
  src/site/src/Controller/Category/Subscriptions/CategorySubscriptionsDisplay.php
  src/site/src/Controller/Category/topics/display.php
  src/site/src/Controller/Message/Item/actions/display.php
  src/site/src/Controller/Message/Listing/Recent/MessageListingRecentDisplay.php
  src/site/src/Controller/Topic/Listing/User/TopicListingUserDisplay.php
  src/site/src/Controller/User/Item/UserItemDisplay.php
  src/site/src/Layout/User/KunenaLayoutUserItem.php
  src/site/src/Model/CategoryModel.php
  src/site/src/Model/UserModel.php
Labels: 6.0, bug

#8029 [K6.0] Try to fix profile view in frontend (Part 2)
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
  src/libraries/kunena/src/Forum/Message/KunenaMessageFinder.php
  src/site/src/Controller/Message/Listing/Recent/MessageListingRecentDisplay.php
Labels: 6.0, bug

#8030 [K6.0] Try to fix announcement widget
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
  src/libraries/kunena/src/Forum/Announcement/KunenaAnnouncement.php
  src/site/kunena.php
  src/site/src/Controller/Topic/Listing/Recent/TopicListingRecentDisplay.php
  src/site/src/Controller/Topic/Listing/User/TopicListingUserDisplay.php
  src/site/src/Dispatcher/Dispatcher.php
Labels: 6.0, bug

#8031 [K6.0] Revert wrong change into KunenaRequest class (Part 2)
  src/libraries/kunena/src/Request/KunenaRequest.php
Labels: 6.0, bug

#8032 [K6.0] Fix the call in template to display the userlist
  src/site/template/aurelia/pages/user/list/default.php
Labels: 6.0, bug

#8035 [K6.0] Others fixes on profile page
  src/libraries/kunena/src/User/KunenaUser.php
  src/site/src/Controller/User/Attachments/UserAttachmentsDisplay.php
  src/site/src/Controller/User/Item/UserItemDisplay.php
Labels: 6.0, bug

#8036 [K5.2]Poll: Notice: Undefined variable: polllifespan - #8033
  CHANGES.md
  src/components/com_kunena/template/crypsis/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsis/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/poll/vote/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/poll/results/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/poll/vote/default.php
Labels: 5.2, bug

#8037 [K6.0] Try to fix unread view
  src/site/src/Controller/Topic/Listing/Unread/TopicListingUnreadDisplay.php
Labels: 6.0, bug

#8038 [K6.0] Try to fix unread view (part 2)
  src/site/src/Controller/Topic/Listing/Unread/TopicListingUnreadDisplay.php
Labels: 6.0, bug

#8039 [K6.0] Renamme KunenaAuthorise into KunenaExceptionAuthorise
  src/admin/src/Dispatcher/Dispatcher.php
  src/libraries/kunena/src/Attachment/KunenaAttachment.php
  src/libraries/kunena/src/Controller/Application/Display.php
  src/libraries/kunena/src/Controller/KunenaController.php
  src/libraries/kunena/src/Controller/KunenaControllerApplication.php
  src/libraries/kunena/src/Controller/KunenaControllerDisplay.php
  src/libraries/kunena/src/Exception/KunenaExceptionAuthorise.php
  src/libraries/kunena/src/Forum/Announcement/KunenaAnnouncement.php
  src/libraries/kunena/src/Forum/Category/KunenaCategory.php
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
  src/libraries/kunena/src/Forum/Topic/KunenaTopic.php
  src/libraries/kunena/src/User/KunenaUser.php
  src/site/src/Controller/Application/Home/Initial/Display.php
  src/site/src/Controller/Application/ajax/default/display.php
  src/site/src/Controller/Application/attachment/default/display.php
  src/site/src/Controller/Category/Subscriptions/CategorySubscriptionsDisplay.php
  src/site/src/Controller/Category/manage/display.php
  src/site/src/Controller/Topic/Form/Create/TopicFormCreateDisplay.php
  src/site/src/Controller/Topic/Form/edit/display.php
  src/site/src/Controller/Topic/Form/reply/display.php
  src/site/src/Controller/Topic/Item/actions/display.php
  src/site/src/Controller/Topic/moderate/display.php
  src/site/src/Controller/Topic/report/display.php
  src/site/src/Controller/User/Attachments/UserAttachmentsDisplay.php
  src/site/src/Controller/User/Item/UserItemDisplay.php
  src/site/src/Controller/User/Listing/UserListingDisplay.php
  src/site/src/Controller/User/edit/avatar/display.php
  src/site/src/Controller/User/edit/display.php
  src/site/src/Controller/Widget/Statistics/WidgetStatisticsDisplay.php
  src/site/src/Controller/Widget/Whoisonline/WidgetWhoisonlineDisplay.php
  src/site/src/Controller/statistics/general/display.php
  src/site/src/Controllers/UserController.php
  src/site/src/View/Common/HtmlView.php
  src/site/template/system/layouts/bbcode/attachment/unauthorised.php
Labels: 6.0, bug

#8040 [K6.0] Try to fix authorise actions into KunenaMessage and KunenaTopic
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
  src/libraries/kunena/src/Forum/Topic/KunenaTopic.php
Labels: 6.0, bug

#8041 [K6.0] Missing calling variables with $this and fix loading tables
  src/libraries/kunena/src/Database/KunenaDatabaseObject.php
  src/site/src/Controller/Topic/Form/Create/TopicFormCreateDisplay.php
Labels: 6.0, bug

#8044 [K6.0] Try to fix call of old MVC controller
  src/libraries/kunena/src/Controller/KunenaController.php
  src/site/src/Dispatcher/Dispatcher.php
Labels: 6.0, bug

#8045 [K6.0]Fix the Kunena access feature, which preventing to go on new topic
  src/plugins/plg_kunena_joomla/access.php
  src/plugins/plg_kunena_joomla/joomla.php
  src/plugins/plg_kunena_joomla/login.php
  src/plugins/plg_kunena_kunena/kunena.php
Labels: 6.0, bug

#8046 [K6.0] Fix check to know is Kunena is present to use namespaced class
  src/libraries/kunena/src/Form/Fields/KunenaCategoryList.php
  src/libraries/kunena/src/Forum/KunenaForum.php
  src/plugins/plg_finder_kunena/kunena.php
  src/plugins/plg_kunena_altauserpoints/altauserpoints.php
  src/plugins/plg_kunena_community/community.php
  src/plugins/plg_kunena_comprofiler/comprofiler.php
  src/plugins/plg_kunena_easyblog/easyblog.php
  src/plugins/plg_kunena_easyprofile/easyprofile.php
  src/plugins/plg_kunena_easysocial/easysocial.php
  src/plugins/plg_kunena_gravatar/gravatar.php
  src/plugins/plg_kunena_joomla/access.php
  src/plugins/plg_kunena_joomla/joomla.php
  src/plugins/plg_kunena_kunena/kunena.php
  src/site/src/Service/Router.php
Labels: 6.0, bug

#8047 [K6.0] Fix the errors on profile tabs
  src/libraries/kunena/src/Attachment/KunenaFinder.php
  src/libraries/kunena/src/Database/Object/KunenaFinder.php
  src/site/src/Controller/Category/Subscriptions/CategorySubscriptionsDisplay.php
  src/site/src/Controller/Topic/Listing/User/TopicListingUserDisplay.php
  src/site/src/Controller/User/Attachments/UserAttachmentsDisplay.php
Labels: 6.0, bug

#8048 [K6.0] Fix kunena plugins avatar and profile to have userlist link work
  src/libraries/kunena/src/Integration/KunenaProfile.php
  src/plugins/plg_kunena_kunena/avatar.php
  src/plugins/plg_kunena_kunena/kunena.php
  src/plugins/plg_kunena_kunena/profile.php
  src/site/src/Controller/User/Listing/UserListingDisplay.php
Labels: 6.0, bug

#8049 [K6.0] Start to fix the edit user profile page
  src/site/src/Controller/User/Edit/Avatar/UserEditAvatarDisplay.php
  src/site/src/Controller/User/Edit/Profile/UserEditProfileDisplay.php
  src/site/src/Controller/User/Edit/Settings/UserEditSettingsDisplay.php
  src/site/src/Controller/User/Edit/User/UserEditUserDisplay.php
  src/site/src/Controller/User/Edit/UserEditDisplay.php
  src/site/src/Layout/User/KunenaLayoutUserEdit.php
Labels: 6.0, bug

#8052 [K6.0] Fix the error Table has multiple primary keys specified, only one
  src/libraries/kunena/src/Forum/Topic/User/KunenaTopicUser.php
  src/libraries/kunena/src/Forum/Topic/User/KunenaTopicUserHelper.php
  src/site/src/Controller/Message/Listing/Recent/MessageListingRecentDisplay.php
Labels: 6.0, bug
