Repository Kunena/Kunena-Forum, pull requests merged in 2021-06, with the labels that each got.

#8150 [K6.0] Can't load the lessc lib on first time
  src/libraries/kunena/src/Template/KunenaTemplate.php
Labels: 6.0, bug

#8151 [K6.0] Not possible to create a new topic and to moderate a topic
  src/site/src/Controller/Message/Item/Actions/MessageItemActionsDisplay.php
  src/site/src/Controller/Topic/Moderate/TopicModerateDisplay.php
  src/site/src/Layout/Topic/TopicModerate.php
  src/site/template/aurelia/layouts/topic/edit/default.php
  src/site/template/aurelia/layouts/topic/moderate/default.php
Labels: 6.0, bug

#8152 [K6.0] List of categories are empty on recent discussions
  src/site/template/aurelia/layouts/category/item/default.php
  src/site/template/aurelia/layouts/message/list/default.php
  src/site/template/aurelia/layouts/topic/list/default.php
Labels: 6.0, bug

#8171 [K6.0] Make working restore menus in backend but modal should open
  src/admin/src/View/Tools/HtmlView.php
Labels: 6.0, bug

#8173 [K6.0] Enable back php,mysql,joomla check on install and set php 7.3.5
  README.md
  src/script.php
Labels: 6.0

#8174 [K6.0] Use short array syntax on install.script
  src/script.php
Labels: 6.0

#8177 [K6.0] Wrong namespace so bbcode library not loaded
  src/admin/src/Controller/PluginsController.php
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
  src/libraries/kunena/src/Html/KunenaParser.php
Labels: 6.0, bug

#8178 [K6.0] Rename nbbc dir to Nbbc else it's fails to load
  src/libraries/kunena/External/Nbbc/CHANGELOG
  src/libraries/kunena/External/Nbbc/LICENSE
  src/libraries/kunena/External/Nbbc/README.md
  src/libraries/kunena/External/Nbbc/powered_by_nbbc.png
  src/libraries/kunena/External/Nbbc/powered_by_nbbc_small.png
  src/libraries/kunena/External/Nbbc/readme.html
  src/libraries/kunena/External/Nbbc/src/BBCode.php
  src/libraries/kunena/External/Nbbc/src/BBCodeLexer.php
  src/libraries/kunena/External/Nbbc/src/BBCodeLibrary.php
  src/libraries/kunena/External/Nbbc/src/Debugger.php
  src/libraries/kunena/External/Nbbc/src/EmailAddressValidator.php
  src/libraries/kunena/External/Nbbc/src/Profiler.php
Labels: 6.0, bug

#8181 [K6.0] Thank You results in a Rendering Error #8179
  src/site/template/aurelia/layouts/user/profile/default.php
  src/site/template/aurelia/layouts/widget/karma/default.php
Labels: 6.0, bug

#8183 [K6.0] Thank You results in a Rendering Error (part 2) #8182
  src/site/template/aurelia/layouts/user/profile/default.php
Labels: 6.0, bug

#8187 [K6.0] Guests see the action button at messages #8185
  src/site/src/Controller/Message/Item/Actions/MessageItemActionsDisplay.php
Labels: 6.0, bug

#8191 Search: Instead of results you get a rendering error #8189
  src/site/src/Controller/Search/Results/SearchResultsDisplay.php
Labels: 6.0, bug

#8192 [K6.0] Not possible to ban an user because method return has wrong type
  src/libraries/kunena/src/User/KunenaBan.php
Labels: 6.0, bug

#8193 [K6.0] Class KunenaUser shouldn't have parent construct
  src/libraries/kunena/src/User/KunenaUser.php
Labels: 6.0, bug

#8195 [K6.0] It's not possible to unpublish categories #8162
  src/libraries/kunena/src/Forum/Category/KunenaCategory.php
Labels: 6.0, bug

#8194 Fix attachment image scaling
  src/libraries/kunena/src/Attachment/KunenaAttachment.php
Labels: 6.0

#8198 [K6.0] Fix error which is displayed in profile on attachments list
  src/site/language/en-GB/en-GB.com_kunena.templates.ini
  src/site/template/aurelia/layouts/user/attachments/default.php
Labels: 6.0, bug

#8199 [K6.0] Admins can't see deleted posts in the frontend #8188
  src/site/template/aurelia/layouts/topic/item/default.php
Labels: 6.0, bug

#8202 [K5.2] [CKEditor] CKEditor bug using lists #8166
  CHANGES.md
  src/media/kunena/core/js/build-config.js
  src/media/kunena/core/js/ckeditor.js
Labels: 5.2, bug
