Repository Kunena/Kunena-Forum, pull requests merged in 2022-01, with the labels that each got.

#8697 [K5.2]Missing file on which copyright year hasn't been edited to 2022
  CHANGES.md
  src/administrator/components/com_kunena/models/tools.php
Labels: 5.2

#8698 [K6.0]loginUser method in KunenaLogin return an error because it's bool
  src/libraries/kunena/src/Login/KunenaLogin.php
Labels: bug, 6.0

#8699 Release K 5.2.8
  CHANGES.md
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.2

#8700 [K5.2] Set dev
  CHANGES.md
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.2

#8701 [K6.0] Try to fix undefined constant KPATH_ADMIN in plugin kunena_joomla
  src/plugins/plg_kunena_joomla/joomla.php
Labels: bug, 6.0

#8702 [K6.0] Error on logout from Kunena
  src/libraries/kunena/src/Login/KunenaLogin.php
Labels: bug, 6.0

#8704 [K6.0] Remove legacy router part which has deprecated in K5.2.8
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
  src/admin/src/Model/ConfigModel.php
  src/admin/tmpl/config/default.php
  src/libraries/kunena/src/Config/KunenaConfig.php
  src/libraries/kunena/src/Route/KunenaLegacy.php
  src/libraries/kunena/src/Route/KunenaRoute.php
Labels: 6.0

#8705 [K6.0] Try to fix routing with Joomla! messing the itemid
  src/site/src/Service/Router.php
Labels: bug, 6.0

#8706 [K6.0]Login via Kunena fail when Direct Component Access=No #6622
  src/site/template/aurelia/layouts/widget/login/login/desktop.php
  src/site/template/aurelia/layouts/widget/login/login/mobile.php
Labels: bug, 6.0

#8707 [K6.0] Fix typo with last PR
  src/site/template/aurelia/layouts/widget/login/login/desktop.php
Labels: bug, 6.0

#8708 [K6.0] Trying to Create new category #8703
  src/admin/language/en-GB/en-GB.com_kunena.controllers.ini
  src/admin/src/Controller/CategoryController.php
Labels: bug, 6.0

#8715 [K6.0]Menu Manager: 0 Class \KunenaLegacy not found #8714
  src/admin/sql/updates/php/1.6.0-2010-05-30_attachments.php
  src/admin/sql/updates/php/1.6.0-2010-05-30_configuration.php
  src/admin/sql/updates/php/1.6.0-2010-05-30_polls.php
  src/admin/sql/updates/php/1.6.0-2010-05-30_timezone.php
  src/admin/sql/updates/php/2.0.0-2011-12-14_aliases.php
  src/admin/sql/updates/php/2.0.0-2012-04-13_menu.php
  src/admin/sql/updates/php/2.0.0-2012-05-30_configuration.php
  src/admin/sql/updates/php/2.0.0-2012-06-10_newindication.php
  src/admin/sql/updates/php/2.0.0-2012-06-10_pubwrite.php
  src/libraries/kunena/src/Menu/KunenaMenuFix.php
Labels: bug, 6.0

#8717 [K6.0] Port changes from K5.2 branch untill K5.2.8 release
  src/admin/language/en-GB/en-GB.com_kunena.libraries.ini
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
  src/admin/src/Controller/TemplateController.php
  src/admin/tmpl/config/default.php
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
  src/libraries/kunena/src/Config/KunenaConfig.php
  src/media/kunena/core/js/upload.main.js
  src/plugins/plg_kunena_comprofiler/KunenaAvatarComprofiler.php
  src/site/src/Controller/Topic/Form/Create/TopicFormCreateDisplay.php
  src/site/src/Controller/Topic/Form/Edit/TopicFormEditDisplay.php
  src/site/src/Controller/Topic/Form/Reply/TopicFormReplyDisplay.php
  src/site/template/aurelia/config/config.xml
  src/site/template/aurelia/layouts/bbcode/ebay/default.php
  src/site/template/aurelia/layouts/bbcode/quote/default.php
  src/site/template/aurelia/layouts/topic/edit/default.php
Labels: bug, 6.0

#8718 [K6.0] Update SCEditor to 3.1.1 version
  src/media/kunena/core/js/sceditor/bbcode.js
Labels: 6.0

#8720 [K6.0] Uploading .pdf files does not work #8716
  src/libraries/kunena/src/Upload/KunenaUpload.php
Labels: bug, 6.0

#8725 [K6.0] Remove useless KunenaNomenuRules routing rule
  src/site/src/Service/KunenaNomenuRules.php
  src/site/src/Service/Router.php
Labels: 6.0

#8726 [K6.0] Remove the unread query parameter at the end of url
  src/libraries/kunena/src/Forum/Topic/KunenaTopic.php
Labels: 6.0

#8731 [K6.0] Revert change in last PR
  src/libraries/kunena/src/Forum/Topic/KunenaTopic.php
Labels: 6.0

#8732 [K6.0] Wrong query which prevent to display announcement in widget
  src/libraries/kunena/src/Forum/Announcement/KunenaAnnouncementHelper.php
Labels: bug, 6.0

#8733 [K6.0]Error at announcements: View not found [name, type, prefix]: #8727
  src/site/src/Controller/Announcement/Listing/AnnouncementListingDisplay.php
  src/site/src/Layout/Announcement/AnnouncementItem.php
  src/site/template/aurelia/layouts/announcement/README.md
Labels: bug, 6.0

#8724 fix ckeditor not respecting configured buttons
  src/administrator/components/com_kunena/controllers/templates.php
  src/components/com_kunena/template/crypsis/layouts/widget/editor/ckeditor.php
  src/components/com_kunena/template/crypsisb3/layouts/widget/editor/ckeditor.php
  src/components/com_kunena/template/crypsisb4/layouts/widget/editor/ckeditor.php
Labels: 5.2

#8737 [K6.0] Typo in redirect link in announcement controller
  src/site/src/Controller/Announcement/Edit/AnnouncementEditDisplay.php
Labels: bug, 6.0

#8738 [K6.0]KunenaRoute::stringURLSafe(): Argument #1 must be of type string
  src/libraries/kunena/src/Route/KunenaRoute.php
Labels: bug, 6.0

#8741 [K6.0] Translation for K6.0 : Small mistake in views.ini #8739
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
Labels: bug, 6.0

#8742 Release K6.0 - Beta 7
  src/pkg_kunena.xml
Labels: 6.0

#8743 Set dev
  src/pkg_kunena.xml
Labels: 6.0

#8744 [K6.0] Update requirements to Joomla! 4.0.6 and Joomla! 4.1.0 RC1
  README.md
  src/script.php
Labels: bug, 6.0

#8745 Release K6.0 - Beta 7
  src/pkg_kunena.xml
Labels: 6.0

#8746 Set dev
  src/pkg_kunena.xml
Labels: 6.0

#8747 [K5.2] Changes file not updated with latest PR
  CHANGES.md
Labels: 5.2

#8749 [K5.2] Read-only mode prevents search results #8736
  CHANGES.md
  src/libraries/kunena/forum/category/category.php
Labels: bug, 5.2

#8750 [K6.0] Typo in query to update topicOrdering on categories on upgrade
  src/admin/install/kunena.install.upgrade.xml
Labels: bug, 6.0

#8751 [K6.0]Error at announcements: View not found (Part 2): #8727
  src/site/template/aurelia/pages/announcement/default/default.php
Labels: bug, 6.0

#8752 [K6.0] Query two times present on upgrade process from previous version
  src/admin/install/kunena.install.upgrade.xml
Labels: bug, 6.0

#8765 [K6.0]Remove Kunena-info Login failed to launch uninstall process #8754
  src/admin/src/Controller/ToolsController.php
  src/libraries/kunena/src/Login/KunenaLogin.php
  src/plugins/plg_kunena_joomla/login.php
Labels: bug, 6.0

#8766 [K6.0] Update NBBC library to version 2.3.1
  src/libraries/kunena/External/Nbbc/README.md
  src/libraries/kunena/External/Nbbc/src/BBCode.php
  src/libraries/kunena/External/Nbbc/src/BBCodeLibrary.php
  src/libraries/kunena/External/Nbbc/src/Debugger.php
Labels: 6.0

#8770 [K6.0] Wrong code in de-DE install.ini #8767
  src/admin/language/de-DE/de-DE.com_kunena.install.ini
Labels: Language, 6.0

#8771 [K6.0] A line in the backend views.ini needs an adjustment #8769
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
Labels: Language, 6.0

#8772 [5.2] A line in the backend views.ini needs an adjustment #8769
  CHANGES.md
  src/administrator/components/com_kunena/language/en-GB/en-GB.com_kunena.views.ini
Labels: Language, 5.2

#8773 [K6.0] The -en-gb should be removed from the alias #8768
  src/libraries/kunena/src/Install/KunenaModelInstall.php
Labels: bug, 6.0

#8774 [K6.0]Revert wrong changes in last commit which breaks category/announce
  src/libraries/kunena/src/Forum/Announcement/KunenaAnnouncement.php
  src/libraries/kunena/src/Forum/Category/KunenaCategory.php
  src/site/src/Controllers/HomeController.php
Labels: bug, 6.0

#8775 [K6.0]Revert wrong changes in last commit which breaks category
  src/libraries/kunena/src/Forum/Category/KunenaCategory.php
Labels: bug, 6.0

#8776 [K6.0] Click on green New indicator: 404 View not found : #8344
  src/libraries/kunena/src/Controller/KunenaControllerApplication.php
Labels: bug, 6.0

#8778 [K5.2] Upgrade or reinstallation removes the Kunena custom.css #8723
  CHANGES.md
  src/administrator/components/com_kunena/install/install.script.php
Labels: bug, 5.2

#8779 [K6.0] When putting video link in post autoembedded doesn't work
  src/libraries/kunena/External/Nbbc/src/BBCode.php
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
Labels: bug, 6.0

#8780 [K6.0] It lacks the rating option at topics #8658
  src/libraries/kunena/src/Request/KunenaRequest.php
  src/site/src/Controller/Application/Ajax/Initial/AjaxDisplay.php
  src/site/src/Controllers/TopicController.php
  src/site/src/View/Topic/HtmlViewRaw.php
  src/site/template/aurelia/layouts/topic/item/rating/default.php
Labels: bug, 6.0

#8791 [6.0] When set a rate a javasciript error is shown #8781
  src/libraries/kunena/src/Forum/Topic/Rate/KunenaRate.php
  src/site/src/Controllers/TopicController.php
Labels: bug, 6.0
