Repository Kunena/Kunena-Forum, pull requests merged in 2022-06, with the labels that each got.

#9071 attempt to fix mail issue on localhost
  src/libraries/kunena/src/Email/KunenaEmail.php
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
Labels: bug, 6.0

#9075 [K6.0] Mail Templates not working #9073
  src/admin/install/kunena.install.upgrade.xml
  src/admin/sql/install/mysql/create_tables.utf8.sql
Labels: bug, 6.0

#9076 [K6.0] Controller Kunena\Forum\Site\Controller\Topic\List\ not exist
  src/libraries/kunena/src/Forum/Topic/KunenaTopicFinder.php
  src/site/src/Controller/Topic/Listing/Moderator/TopicListingModeratorDisplay.php
  src/site/template/aurelia/pages/topics/moderator/default.php
Labels: bug, 6.0

#9078 [K6.0]Controller ...\Forum\Site\Controller\Topic\List\ not exist #9077
  src/site/src/Controller/Topic/Listing/Moderator/TopicListingModeratorDisplay.php
Labels: bug, 6.0

#9079 [K6.0] Try to fix easysocial plugin part 2
  src/plugins/plg_kunena_altauserpoints/KunenaProfileAltaUserPoints.php
  src/plugins/plg_kunena_community/KunenaLoginCommunity.php
  src/plugins/plg_kunena_community/KunenaProfileCommunity.php
  src/plugins/plg_kunena_easysocial/KunenaProfileEasySocial.php
  src/plugins/plg_kunena_easysocial/easysocial.php
  src/site/template/aurelia/layouts/topic/item/message/default.php
Labels: bug, 6.0

#9080 add markup to mail templates
  src/site/language/en-GB/en-GB.com_kunena.ini
Labels: Language, 6.0

#9084 [K6.0] Pending messages can approved only directly in topic #9083
  src/site/src/Controllers/TopicsController.php
  src/site/template/aurelia/layouts/message/row/default.php
Labels: bug, 6.0

#9085 [k6.0] Delete last post issue #9061
  src/libraries/kunena/src/Forum/Topic/KunenaTopic.php
Labels: bug, 6.0

#9086 [K6.0] Category manager - two buttons have wrong function #8991
  src/admin/src/Controller/CategoryController.php
  src/admin/src/View/Category/HtmlView.php
Labels: bug, 6.0

#9087 [K6.0] Category manager - two buttons have wrong function #8991 (part 2)
  src/admin/src/Controller/CategoryController.php
Labels: bug, 6.0

#9092 [K6.0]User Manager:Move messages loads site without options (2) #9091
  src/admin/tmpl/user/move.php
Labels: bug, 6.0

#9093 [K6.0] Some strings are untranslated in move usermessages part
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
  src/admin/tmpl/user/move.php
Labels: Language, 6.0

#9094 [K6.0] Error clicking on padlock symbol when the category locked #9089
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
  src/admin/src/Controller/CategoryController.php
  src/admin/tmpl/categories/default.php
Labels: bug, 6.0

#9095 [K6.0] It's hard to select a single category #9088
  src/admin/tmpl/categories/default.php
Labels: bug, 6.0

#9097 [K5.2] Update Ckeditor to version 4.19.0
  src/media/kunena/core/js/ckeditor.js
  src/media/kunena/core/js/lang/en.js
  src/media/kunena/core/js/plugins/icons.png
  src/media/kunena/core/js/plugins/icons_hidpi.png
Labels: 5.2

#9098 Release K 5.2.9
  CHANGES.md
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.2

#9099 [K5.2] Set dev
  CHANGES.md
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.2

#9105 [K6.0] Set dev
  src/pkg_kunena.xml
Labels: 6.0

#9108 [K6.0] can't reorder discussion categories #8607 (try)
  src/admin/tmpl/categories/default.php
Labels: bug, 6.0

#9109 [K6.0] Not possible to move messages or topics by using actions list
  src/site/src/Controllers/TopicsController.php
  src/site/template/aurelia/layouts/message/row/default.php
Labels: bug, 6.0

#9110 [K6.0] Fix issues in plugin activity for easysocial
  src/libraries/kunena/src/Access/KunenaAccess.php
  src/plugins/plg_kunena_easysocial/KunenaActivityEasySocial.php
Labels: bug, 6.0

#9117 fix showing images / attachments to guest when configured to not display
  src/libraries/kunena/src/Attachment/KunenaAttachment.php
Labels: bug, 6.0

#9118 [K6.0] Display error message with BS5 if attach exceed size limit #9115
  src/media/kunena/core/js/upload.main.js
Labels: bug, 6.0

#9121 [K6.0] Attachment and image upload, the progress bar is not active #9120
  src/media/kunena/core/js/upload.main.js
  src/site/template/aurelia/layouts/topic/edit/default.php
Labels: bug, 6.0

#9122 [K6.0] Remove reference to J2.5 in language strings on access part
  src/plugins/plg_kunena_joomla/access.php
  src/plugins/plg_kunena_joomla/language/en-GB/en-GB.plg_kunena_joomla.sys.ini
Labels: Language, 6.0

#9124 [K6.0] Kunena menu type "Create New Topic" no selection options #9123
  src/site/tmpl/topic/create.xml
Labels: bug, 6.0

#9127 [K6.0] CKEditor : It lacks the button for Fontsize #9126
  src/media/kunena/core/js/ckeditor.js
  src/media/kunena/core/js/lang/en.js
  src/media/kunena/core/js/skins/moonocolor/editor.css
  src/media/kunena/core/js/skins/moonocolor/editor_gecko.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie7.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie8.css
  src/media/kunena/core/js/skins/moonocolor/editor_iequirks.css
  src/media/kunena/core/js/skins/moonocolor/icons.png
  src/media/kunena/core/js/skins/moonocolor/icons_hidpi.png
Labels: 6.0, CKeditor

#9128 [K5.2] CKEditor : It lacks the button for Fontsize #9126
  src/media/kunena/core/js/ckeditor.js
  src/media/kunena/core/js/lang/en.js
  src/media/kunena/core/js/skins/moonocolor/editor.css
  src/media/kunena/core/js/skins/moonocolor/editor_gecko.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie7.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie8.css
  src/media/kunena/core/js/skins/moonocolor/editor_iequirks.css
  src/media/kunena/core/js/skins/moonocolor/icons.png
  src/media/kunena/core/js/skins/moonocolor/icons_hidpi.png
Labels: bug, 5.2

#9132 quick fix bootstrap conflict
  src/site/template/aurelia/layouts/search/form/default.php
Labels: 6.0, Aurelia

#9133 [K6.0] Some menu types need adjustements #9125
  src/site/tmpl/misc/default.xml
  src/site/tmpl/topics/default.xml
  src/site/tmpl/topics/posts.xml
  src/site/tmpl/topics/user.xml
Labels: bug, 6.0

#9135 [K6.0] Uundefined Class 'Forum' not found - Smart Search #9022
  src/plugins/plg_finder_kunena/kunena.php
Labels: bug, 6.0

#9136 [K6.0] Undefined Class 'Forum' not found - Smart Search (part 2) #9022
  src/plugins/plg_finder_kunena/kunena.php
Labels: bug, 6.0

#9138 [K6.0] Smart Search:Call to undefined method ...::getContentPath() #9137
  src/plugins/plg_finder_kunena/kunena.php
Labels: bug, 6.0

#9139 [K6.0] When install others components (like CB) display error at the end
  src/plugins/plg_system_kunena/kunena.php
Labels: bug, 6.0

#9140 [K6.0] Jomsocial integration broken with infinite loop
  src/plugins/plg_kunena_community/KunenaActivityCommunity.php
Labels: bug, 6.0

#9141 [K6.0] Remove alteruserpoints plugin from package because not work on J!4
  src/pkg_kunena.xml
Labels: 6.0

#9143 [K6.0] Some menu types need adjustements (Part 2) #9125
  src/site/src/Controller/Application/Misc/Initial/MiscDisplay.php
  src/site/tmpl/topics/default.xml
  src/site/tmpl/topics/posts.xml
  src/site/tmpl/topics/user.xml
Labels: bug, 6.0
