Repository Kunena/Kunena-Forum, pull requests merged in 2022-05, with the labels that each got.

#8966 [6.0.0-RC2] Email notification does not work at all #8963
  src/site/language/en-GB/en-GB.com_kunena.ini
Labels: bug, 6.0

#8967 [6.0.0-RC2] Email notification does not work at all (Part 2) #8963
  src/admin/install/kunena.install.upgrade.xml
  src/admin/sql/install/mysql/create_tables.utf8.sql
  src/admin/sql/updates/mysql/6.0.0-BETA1-DEV.sql
Labels: bug, 6.0

#8969 [K6.0] User manager : Assign Moderator(s) results in an error #8960
  src/admin/src/Controller/UsersController.php
Labels: bug, 6.0

#8970 [6.0.0-RC2] Email notification does not work at all (Part 3) #8963
  src/admin/install/kunena.install.upgrade.xml
  src/admin/sql/install/mysql/create_tables.utf8.sql
  src/admin/sql/updates/mysql/6.0.0-BETA1-DEV.sql
  src/script.php
  src/site/language/en-GB/en-GB.com_kunena.ini
Labels: bug, 6.0

#8972 [K6.0] Update minimum CB version to 2.7.2
  src/plugins/plg_kunena_comprofiler/comprofiler.php
Labels: bug, 6.0

#8973 [K6.0] Bump Joomla! 4.2 min version to alpha2
  src/script.php
Labels: 6.0

#8974 [K6.0] Version information isn't added on table version
  src/admin/src/View/Cpanel/HtmlView.php
  src/script.php
Labels: bug, 6.0

#8975 [K6.0] Try to fix Kunena update to make updaye mail_templates working
  src/script.php
Labels: bug, 6.0

#8977 [6.0.0-RC3] Email notification does not work #8976
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
Labels: bug, 6.0

#8978 [K6.0] When do update sampledata isn't set to 1
  src/script.php
Labels: bug, 6.0

#8980 fix body font / dropdown menu
  src/admin/media/css/theme.min.css
Labels: Backend, 6.0

#8983 [K6.0] Issues with mail notifications : typo in language string #8979
  src/site/language/en-GB/en-GB.com_kunena.ini
Labels: Language, 6.0

#8984 Change: refactor svg icons to load locally instead of remote
  src/libraries/kunena/src/Icons/KunenaSvgIcons.php
Labels: 6.0, Aurelia

#8986 [K6.0] Update language file from transifex
  src/admin/language/sv-SE/sv-SE.com_kunena.controllers.ini
  src/admin/language/sv-SE/sv-SE.com_kunena.install.ini
  src/admin/language/sv-SE/sv-SE.com_kunena.sys.ini
  src/plugins/plg_sampledata_kunena/language/fr-FR/fr-FR.plg_sampledata_kunena.ini
  src/site/language/de-DE/de-DE.com_kunena.ini
  src/site/language/fr-FR/fr-FR.com_kunena.ini
  src/site/language/hu-HU/hu-HU.com_kunena.ini
  src/site/language/ro-RO/ro-RO.com_kunena.ini
  src/site/language/tr-TR/tr-TR.com_kunena.ini
Labels: Language, 6.0

#8988 [K6.0] Set dev
  src/pkg_kunena.xml
Labels: 6.0

#8994 Dropdown buttons
  src/site/src/Controller/Message/Item/Actions/MessageItemActionsDisplay.php
  src/site/src/Controller/Topic/Item/Actions/TopicItemActionsDisplay.php
  src/site/template/aurelia/layouts/message/item/actions/default.php
  src/site/template/aurelia/layouts/topic/item/actions/default.php
Labels: 6.0, Aurelia

#8999 [K6.0] Language string missing #8985
  src/site/language/en-GB/en-GB.com_kunena.templates.ini
Labels: Language, 6.0

#8995 Refactor closable alerts to BS5 syntax
  src/site/template/aurelia/layouts/category/item/default.php
  src/site/template/aurelia/layouts/topic/item/default.php
  src/site/template/aurelia/layouts/widget/announcement/default.php
  src/site/template/aurelia/template.php
Labels: 6.0, Aurelia

#9000 [K6.0] Change old string into plg_kunena_joomla
  src/plugins/plg_kunena_joomla/access.php
  src/plugins/plg_kunena_joomla/joomla.xml
  src/plugins/plg_kunena_joomla/language/en-GB/en-GB.plg_kunena_joomla.sys.ini
Labels: Language, 6.0

#9001 Fix some inline javaScript console logged errors
  src/libraries/kunena/src/Template/KunenaTemplate.php
Labels: bug, 6.0

#9007 (un)thankyou buttons are never used in actions
  src/site/src/Controller/Message/Item/Actions/MessageItemActionsDisplay.php
Labels: bug, 6.0

#9002 Change: remove hover effect on search input
  src/site/template/aurelia/assets/scss/general.scss
  src/site/template/aurelia/layouts/widget/search/topic.php
  src/site/template/aurelia/layouts/widget/search/user.php
Labels: 6.0, Aurelia

#9008 [K6.0] Template saving issues #8993
  src/admin/src/Model/TemplateModel.php
Labels: bug, 6.0

#9010 fix tooltip error
  src/libraries/kunena/src/Template/KunenaTemplate.php
Labels: bug, 6.0

#9011 fix js typo
  src/libraries/kunena/src/Template/KunenaTemplate.php
Labels: bug, 6.0

#9016 proper selects, functioning date, css cleanup
  src/site/src/Layout/Search/SearchForm.php
  src/site/template/aurelia/assets/js/search.js
  src/site/template/aurelia/assets/scss/general.scss
  src/site/template/aurelia/assets/scss/mediaqueries.scss
  src/site/template/aurelia/layouts/search/form/default.php
Labels: 6.0, Aurelia

#9021 fix return type string
  src/libraries/kunena/src/Integration/KunenaProfile.php
Labels: bug, 6.0

#9023 Success messages
  src/admin/src/Controller/AttachmentsController.php
  src/admin/src/Controller/CategoriesController.php
  src/admin/src/Controller/CategoryController.php
  src/admin/src/Controller/ConfigController.php
  src/admin/src/Controller/LogsController.php
  src/admin/src/Controller/RanksController.php
  src/admin/src/Controller/SmiliesController.php
  src/admin/src/Controller/TemplateController.php
  src/admin/src/Controller/TemplatesController.php
  src/admin/src/Controller/ToolsController.php
  src/admin/src/Controller/TrashController.php
  src/admin/src/Controller/UserController.php
  src/admin/src/Controller/UsersController.php
  src/admin/src/Model/CategoriesModel.php
  src/admin/src/Model/CategoryModel.php
  src/admin/src/Model/RankModel.php
  src/admin/src/Model/SmileyModel.php
  src/admin/src/Model/ToolsModel.php
  src/admin/src/Model/TrashModel.php
  src/admin/src/Model/UserModel.php
  src/admin/src/Model/UsersModel.php
  src/admin/src/View/Cpanel/HtmlView.php
  src/libraries/kunena/src/Controller/Application/Display.php
  src/libraries/kunena/src/Error/KunenaError.php
  src/libraries/kunena/src/Forum/Category/KunenaCategoryHelper.php
  src/libraries/kunena/src/Forum/Topic/KunenaTopic.php
  src/libraries/kunena/src/Route/KunenaRoute.php
  src/libraries/kunena/src/View/KunenaView.php
  src/plugins/plg_system_kunena/kunena.php
  src/site/src/Controllers/AnnouncementController.php
  src/site/src/Controllers/CategoryController.php
  src/site/src/Controllers/TopicController.php
  src/site/src/Controllers/TopicsController.php
  src/site/src/Controllers/UserController.php
  src/site/src/View/Topic/HtmlView.php
Labels: enhance, 6.0

#9025 [K6.0] Call to undefined method \Controller\TemplatesController::escape() #9024
  src/admin/src/Controller/TemplatesController.php
Labels: bug, 6.0

#9026 [K6.0] 404 View not found when delete announcement #8996
  src/site/src/Controllers/AnnouncementController.php
Labels: bug, 6.0

#9027 [K6.0] Update CKeditor to 4.19.0 version
  src/media/kunena/core/js/ckeditor.js
  src/media/kunena/core/js/lang/en.js
  src/media/kunena/core/js/plugins/icons.png
  src/media/kunena/core/js/plugins/icons_hidpi.png
Labels: 6.0

#9029 htmlhelper link to kunenaforum.link
  src/libraries/kunena/src/Layout/KunenaLayout.php
  src/libraries/kunena/src/View/KunenaView.php
Labels: bug, 6.0

#9031 fix buttons over module
  src/site/template/aurelia/layouts/announcement/listing/default.php
Labels: 6.0, Aurelia

#9033 [K6.0] Need this string in backend views.ini - COM_KUNENA_USRL_EMAIL="E-mail" #9032
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
  src/admin/src/View/Users/HtmlView.php
Labels: Language, 6.0

#9034 [K6.0]Issues with mail notifications - fix for topic notifications #8979
  src/libraries/kunena/src/Access/KunenaAccess.php
Labels: bug, 6.0

#9036 [K6.0] Issues with mail notifications when report message to mods #8979
  src/site/language/en-GB/en-GB.com_kunena.ini
  src/site/src/Controllers/TopicController.php
Labels: bug, 6.0

#9037 [K6.0] Some codestyle
  src/plugins/plg_kunena_joomla/access.php
  src/plugins/plg_kunena_joomla/joomla.php
  src/plugins/plg_kunena_joomla/login.php
Labels: 6.0

#9038 [K6.0] Maybe a small language correction for com_kunena.ini #9035
  src/site/language/en-GB/en-GB.com_kunena.ini
Labels: Language, 6.0

#9039 [K6.0] Forgot debug part in report moderator message #8979
  src/site/src/Controllers/TopicController.php
Labels: bug, 6.0

#9040 refactor form-control to bs5 form-select
  src/site/src/Controller/Topic/Listing/ListDisplay.php
  src/site/src/Layout/Message/MessageList.php
  src/site/src/Layout/Topic/TopicList.php
  src/site/template/aurelia/layouts/announcement/listing/default.php
  src/site/template/aurelia/layouts/category/item/default.php
  src/site/template/aurelia/layouts/message/list/default.php
  src/site/template/aurelia/layouts/topic/list/default.php
Labels: 6.0, Aurelia

#9042 [K6.0] Mail send when use report message to mods has variable #8979
  src/site/src/Controllers/TopicController.php
Labels: bug, 6.0

#9043 [K6.0] Missing the reason message in report moderator mail #8979
  src/site/language/en-GB/en-GB.com_kunena.ini
  src/site/src/Controllers/TopicController.php
Labels: bug, 6.0

#9044 [K6.0] Fix some codestyle
  src/plugins/plg_kunena_joomla/script.php
  src/plugins/plg_kunena_kunena/profile.php
  src/site/src/Model/TopicsModel.php
Labels: bug, 6.0

#9048 set correct class on modal close button and remove manual x
  src/site/template/aurelia/layouts/message/edit/quickreply.php
  src/site/template/aurelia/layouts/message/item/bottom/default.php
  src/site/template/aurelia/layouts/message/item/default.php
  src/site/template/aurelia/layouts/message/item/top/default.php
  src/site/template/aurelia/layouts/topic/edit/default.php
  src/site/template/aurelia/layouts/topic/poll/results/default.php
  src/site/template/aurelia/layouts/user/attachments/default.php
  src/site/template/aurelia/layouts/widget/login/logout/default.php
  src/site/template/aurelia/layouts/widget/modal/default.php
Labels: 6.0, Aurelia

#9047 toggle via buttons / remove unused form
  src/site/template/aurelia/layouts/widget/login/logout/default.php
Labels: 6.0, Aurelia

#9045 More selects + some form validation changes (email)
  src/site/src/Controller/Category/Index/CategoryIndexDisplay.php
  src/site/src/Controller/Category/Manage/CategoryManageDisplay.php
  src/site/src/Controller/Topic/Form/Create/TopicFormCreateDisplay.php
  src/site/src/Controller/User/Edit/Settings/UserEditSettingsDisplay.php
  src/site/src/Layout/Search/SearchForm.php
  src/site/src/Layout/Topic/TopicModerate.php
  src/site/template/aurelia/layouts/announcement/edit/default.php
  src/site/template/aurelia/layouts/topic/edit/default.php
  src/site/template/aurelia/layouts/topic/moderate/default.php
  src/site/template/aurelia/layouts/user/edit/profile/default.php
  src/site/template/aurelia/layouts/user/edit/user/default.php
Labels: 6.0, Aurelia

#9049 [K6.0] Make some codestyle
  src/plugins/plg_kunena_altauserpoints/KunenaAvatarAltaUserPoints.php
  src/plugins/plg_kunena_community/KunenaActivityCommunity.php
  src/plugins/plg_kunena_joomla/script.php
  src/plugins/plg_kunena_kunena/script.php
Labels: 6.0

#9051 storage or localstorage ?
  src/site/template/aurelia/template.php
Labels: bug, 6.0

#9054 BS5 doesn't have labels, but uses badges instead
  src/site/template/aurelia/layouts/message/row/default.php
  src/site/template/aurelia/layouts/topic/edit/default.php
  src/site/template/aurelia/layouts/topic/moderate/default.php
  src/site/template/aurelia/layouts/topic/row/category.php
  src/site/template/aurelia/layouts/topic/row/default.php
  src/site/template/aurelia/layouts/topic/row/user.php
  src/site/template/aurelia/layouts/widget/label/link.php
Labels: 6.0, Aurelia

#9056 displaying tooltips for PrivateMessages and Birthday although not set…
  src/libraries/kunena/src/User/KunenaUser.php
Labels: bug, 6.0

#9057 refactor jssocials from FA4 to FA5
  src/media/kunena/core/js/jssocials.js
Labels: enhance, 6.0

#9063 [K6.0] "Thank you" section/widget issue #9052
  src/site/src/Controller/Topic/Item/Message/TopicItemMessageDisplay.php
Labels: bug, 6.0

#9064 [K6.0] No working smilies with newly installed Kunena #8989
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
  src/libraries/kunena/src/Config/KunenaConfig.php
  src/site/template/aurelia/assets/scss/general.scss
Labels: bug, 6.0

#9065 [K6.0] No working smilies with newly installed Kunena #8989
  src/admin/install/kunena.install.upgrade.xml
  src/libraries/kunena/src/Install/KunenaSampleData.php
Labels: bug, 6.0

#9066 [K6.0] Simplify the query to get subscriptions on topics/categories
  src/libraries/kunena/src/Access/KunenaAccess.php
Labels: bug, 6.0

#9067 [K6.0] Revert changes made on issue with svg smilies #8989
  src/admin/install/kunena.install.upgrade.xml
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
  src/libraries/kunena/src/Config/KunenaConfig.php
  src/libraries/kunena/src/Install/KunenaSampleData.php
  src/site/template/aurelia/assets/scss/general.scss
Labels: bug, 6.0

#9069 [K6.0] Missing some files #8989
  src/media/kunena/emoticons/pinch-grey.png
  src/media/kunena/emoticons/pinch.png
Labels: 6.0

#9070 [K6.0] Try to fix easysocial integration plugin
  src/pkg_kunena.xml
  src/plugins/plg_kunena_easysocial/KunenaActivityEasySocial.php
  src/plugins/plg_kunena_easysocial/easysocial.php
Labels: bug, 6.0
