Repository Kunena/Kunena-Forum, pull requests merged in 2022-04, with the labels that each got.

#8877 [Bugfix] Fix stripped/broken [code] bbcode when "type" is not specified
  src/libraries/kunena/bbcode/bbcode.php
Labels: bug, 5.2

#8881 Missing entry in changes file
  CHANGES.md
Labels: 5.2

#8882 [K6.0]Update bat script handle sym links creation separatly for addons
  scripts/kunena_sym_links.bat
Labels: 6.0

#8891 [K6.0] When uninstall Kunena template it doesn't found the contro method
  src/admin/src/Controller/TemplateController.php
  src/admin/src/Controller/TemplatesController.php
Labels: bug, Backend, 6.0

#8893 [K6.0] Remove useless _QQ_ in language files
  src/admin/language/cs_CZ/cs_CZ.com_kunena.install.ini
  src/admin/language/cs_CZ/cs_CZ.com_kunena.libraries.ini
  src/admin/language/et-EE/et-EE.com_kunena.libraries.ini
  src/admin/language/hu-HU/hu-HU.com_kunena.libraries.ini
  src/admin/language/tr-TR/tr-TR.com_kunena.libraries.ini
  src/plugins/plg_kunena_community/language/de-DE/de-DE.plg_kunena_community.sys.ini
  src/plugins/plg_kunena_community/language/hu-HU/hu-HU.plg_kunena_community.sys.ini
  src/plugins/plg_kunena_community/language/tr-TR/tr-TR.plg_kunena_community.sys.ini
  src/site/language/cs_CZ/cs_CZ.com_kunena.ini
  src/site/language/cs_CZ/cs_CZ.com_kunena.views.ini
  src/site/language/de-DE/de-DE.com_kunena.views.ini
  src/site/language/et-EE/et-EE.com_kunena.views.ini
  src/site/language/fr-FR/fr-FR.com_kunena.views.ini
  src/site/language/hu-HU/hu-HU.com_kunena.templates.ini
  src/site/language/hu-HU/hu-HU.com_kunena.views.ini
  src/site/language/tr-TR/tr-TR.com_kunena.views.ini
Labels: Language

#8898 [K6.0] Content of files kunena.ini and views.ini are reverted in some languages
  src/admin/language/de-DE/de-DE.com_kunena.ini
  src/admin/language/de-DE/de-DE.com_kunena.views.ini
  src/admin/language/hu-HU/hu-HU.com_kunena.ini
  src/admin/language/hu-HU/hu-HU.com_kunena.views.ini
  src/admin/language/tr-TR/tr-TR.com_kunena.ini
  src/admin/language/tr-TR/tr-TR.com_kunena.views.ini
Labels: Language, 6.0

#8899 [K6.0] Fix typos in language file views.ini from backend and frontend
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
  src/site/language/en-GB/en-GB.com_kunena.views.ini
Labels: Language, 6.0

#8901 [K6.0] Move strings from frontend controllers to kunena.ini #8827
  src/site/language/en-GB/en-GB.com_kunena.controllers.ini
  src/site/language/en-GB/en-GB.com_kunena.ini
Labels: bug, Language, 6.0

#8903 [K6.0] Typo in libraries language file on github namming
  src/admin/language/en-GB/en-GB.com_kunena.libraries.ini
Labels: Language, 6.0

#8906 Fix modal button behavior
  src/admin/tmpl/plugins/default.php
Labels: bug, 6.0

#8925 [K6.0] Please adjust the xml file for language installation #8923
  src/admin/language/all/manifests/com_kunena_en-GB.xml
Labels: bug, 6.0

#8927 [K6.0] Exception on profile because namespace definition is missing
  src/site/template/aurelia/layouts/user/item/default.php
Labels: bug, 6.0

#8928 [K6.0] Setting Quick Reply Modal breaks the layout #8924
  src/site/template/aurelia/layouts/message/edit/quickreply.php
Labels: bug, 6.0

#8933 [K6.0] Remove unnecessary files from all languages #8930
  src/site/language/af-ZA/af-ZA.com_kunena.controllers.ini
  src/site/language/ar-AA/ar-AA.com_kunena.controllers.ini
  src/site/language/az-AZ/az-AZ.com_kunena.controllers.ini
  src/site/language/bg-BG/bg-BG.com_kunena.controllers.ini
  src/site/language/bs-BA/bs-BA.com_kunena.controllers.ini
  src/site/language/ca-ES/ca-ES.com_kunena.controllers.ini
  src/site/language/ckb-IQ/ckb-IQ.com_kunena.controllers.ini
  src/site/language/cs-CZ/cs-CZ.com_kunena.controllers.ini
  src/site/language/cs_CZ/cs_CZ.com_kunena.controllers.ini
  src/site/language/cy-GB/cy-GB.com_kunena.controllers.ini
  src/site/language/da-DK/da-DK.com_kunena.controllers.ini
  src/site/language/de-DE/de-DE.com_kunena.controllers.ini
  src/site/language/el-GR/el-GR.com_kunena.controllers.ini
  src/site/language/eo-XX/eo-XX.com_kunena.controllers.ini
  src/site/language/es-ES/es-ES.com_kunena.controllers.ini
  src/site/language/es_GT/es_GT.com_kunena.controllers.ini
  src/site/language/et-EE/et-EE.com_kunena.controllers.ini
  src/site/language/eu-ES/eu-ES.com_kunena.controllers.ini
  src/site/language/fa-IR/fa-IR.com_kunena.controllers.ini
  src/site/language/fi-FI/fi-FI.com_kunena.controllers.ini
  src/site/language/fr-FR/fr-FR.com_kunena.controllers.ini
  src/site/language/gl_ES/gl_ES.com_kunena.controllers.ini
  src/site/language/he-IL/he-IL.com_kunena.controllers.ini
  src/site/language/hi-IN/hi-IN.com_kunena.controllers.ini
  src/site/language/hr-HR/hr-HR.com_kunena.controllers.ini
  src/site/language/hu-HU/hu-HU.com_kunena.controllers.ini
  src/site/language/id-ID/id-ID.com_kunena.controllers.ini
  src/site/language/it-IT/it-IT.com_kunena.controllers.ini
  src/site/language/ja-JP/ja-JP.com_kunena.controllers.ini
  src/site/language/km-KH/km-KH.com_kunena.controllers.ini
  src/site/language/ko-KR/ko-KR.com_kunena.controllers.ini
  src/site/language/kz-KZ/kz-KZ.com_kunena.controllers.ini
  src/site/language/lt-LT/lt-LT.com_kunena.controllers.ini
  src/site/language/lv-LV/lv-LV.com_kunena.controllers.ini
  src/site/language/mk-MK/mk-MK.com_kunena.controllers.ini
  src/site/language/nb-NO/nb-NO.com_kunena.controllers.ini
  src/site/language/nl-NL/nl-NL.com_kunena.controllers.ini
  src/site/language/nl_BE/nl_BE.com_kunena.controllers.ini
  src/site/language/pl-PL/pl-PL.com_kunena.controllers.ini
  src/site/language/pt-BR/pt-BR.com_kunena.controllers.ini
  src/site/language/pt-PT/pt-PT.com_kunena.controllers.ini
  src/site/language/ro-RO/ro-RO.com_kunena.controllers.ini
  src/site/language/ru-RU/ru-RU.com_kunena.controllers.ini
  src/site/language/sk-SK/sk-SK.com_kunena.controllers.ini
  src/site/language/sl-SI/sl-SI.com_kunena.controllers.ini
  src/site/language/sq-AL/sq-AL.com_kunena.controllers.ini
  src/site/language/sr-RS/sr-RS.com_kunena.controllers.ini
  src/site/language/sr-YU/sr-YU.com_kunena.controllers.ini
  src/site/language/sv-SE/sv-SE.com_kunena.controllers.ini
  src/site/language/th-TH/th-TH.com_kunena.controllers.ini
  src/site/language/tr-TR/tr-TR.com_kunena.controllers.ini
  src/site/language/ug-CN/ug-CN.com_kunena.controllers.ini
  src/site/language/uk-UA/uk-UA.com_kunena.controllers.ini
  src/site/language/ur-PK/ur-PK.com_kunena.controllers.ini
  src/site/language/uz-UZ/uz-UZ.com_kunena.controllers.ini
  src/site/language/vi-VN/vi-VN.com_kunena.controllers.ini
  src/site/language/zh-CN/zh-CN.com_kunena.controllers.ini
  src/site/language/zh-TW/zh-TW.com_kunena.controllers.ini
Labels: Language, 6.0

#8934 [K6.0] Remove unnecessary entries from all languages in manifests #8930
  src/admin/language/all/manifests/com_kunena_af-ZA.xml
  src/admin/language/all/manifests/com_kunena_ar-AA.xml
  src/admin/language/all/manifests/com_kunena_az-AZ.xml
  src/admin/language/all/manifests/com_kunena_bg-BG.xml
  src/admin/language/all/manifests/com_kunena_bs-BA.xml
  src/admin/language/all/manifests/com_kunena_ca-ES.xml
  src/admin/language/all/manifests/com_kunena_ckb-IQ.xml
  src/admin/language/all/manifests/com_kunena_cs-CZ.xml
  src/admin/language/all/manifests/com_kunena_cy-GB.xml
  src/admin/language/all/manifests/com_kunena_da-DK.xml
  src/admin/language/all/manifests/com_kunena_de-DE.xml
  src/admin/language/all/manifests/com_kunena_el-GR.xml
  src/admin/language/all/manifests/com_kunena_eo-XX.xml
  src/admin/language/all/manifests/com_kunena_es-ES.xml
  src/admin/language/all/manifests/com_kunena_et-EE.xml
  src/admin/language/all/manifests/com_kunena_eu-ES.xml
  src/admin/language/all/manifests/com_kunena_fa-IR.xml
  src/admin/language/all/manifests/com_kunena_fi-FI.xml
  src/admin/language/all/manifests/com_kunena_fr-FR.xml
  src/admin/language/all/manifests/com_kunena_he-IL.xml
  src/admin/language/all/manifests/com_kunena_hi-IN.xml
  src/admin/language/all/manifests/com_kunena_hr-HR.xml
  src/admin/language/all/manifests/com_kunena_hu-HU.xml
  src/admin/language/all/manifests/com_kunena_id-ID.xml
  src/admin/language/all/manifests/com_kunena_it-IT.xml
  src/admin/language/all/manifests/com_kunena_ja-JP.xml
  src/admin/language/all/manifests/com_kunena_km-KH.xml
  src/admin/language/all/manifests/com_kunena_ko-KR.xml
  src/admin/language/all/manifests/com_kunena_kz-KZ.xml
  src/admin/language/all/manifests/com_kunena_lt-LT.xml
  src/admin/language/all/manifests/com_kunena_lv-LV.xml
  src/admin/language/all/manifests/com_kunena_mk-MK.xml
  src/admin/language/all/manifests/com_kunena_nb-NO.xml
  src/admin/language/all/manifests/com_kunena_nl-NL.xml
  src/admin/language/all/manifests/com_kunena_pl-PL.xml
  src/admin/language/all/manifests/com_kunena_pt-BR.xml
  src/admin/language/all/manifests/com_kunena_pt-PT.xml
  src/admin/language/all/manifests/com_kunena_ro-RO.xml
  src/admin/language/all/manifests/com_kunena_ru-RU.xml
  src/admin/language/all/manifests/com_kunena_sk-SK.xml
  src/admin/language/all/manifests/com_kunena_sl-SI.xml
  src/admin/language/all/manifests/com_kunena_sq-AL.xml
  src/admin/language/all/manifests/com_kunena_sr-RS.xml
  src/admin/language/all/manifests/com_kunena_sr-YU.xml
  src/admin/language/all/manifests/com_kunena_sv-SE.xml
  src/admin/language/all/manifests/com_kunena_th-TH.xml
  src/admin/language/all/manifests/com_kunena_tr-TR.xml
  src/admin/language/all/manifests/com_kunena_ug-CN.xml
  src/admin/language/all/manifests/com_kunena_uk-UA.xml
  src/admin/language/all/manifests/com_kunena_ur-PK.xml
  src/admin/language/all/manifests/com_kunena_vi-VN.xml
  src/admin/language/all/manifests/com_kunena_zh-CN.xml
  src/admin/language/all/manifests/com_kunena_zh-TW.xml
Labels: Language, 6.0

#8944 [K6.0] Many options for the Dashboad are hard coded #8556
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
  src/admin/tmpl/cpanel/default.php
  src/libraries/kunena/src/Attachment/KunenaAttachmentHelper.php
Labels: Language, 6.0

#8948 [K6.0] Javascript errors on topic page
  src/site/template/aurelia/assets/js/edit.js
Labels: bug, 6.0

#8947 show all kunena (related) plugin > like kunenadiscuss
  src/admin/src/Model/PluginsModel.php
Labels: enhance, 6.0

#8950 [K6.0] Update languages (fr,tr_TR,hu_HU and de_DE) from transifex
  src/admin/language/de-DE/de-DE.com_kunena.views.ini
  src/admin/language/tr-TR/tr-TR.com_kunena.views.ini
  src/plugins/plg_finder_kunena/language/fr-FR/fr-FR.plg_finder_kunena.sys.ini
  src/plugins/plg_kunena_community/language/fr-FR/fr-FR.plg_kunena_community.sys.ini
Labels: Language, 6.0

#8951 [K6.0] Guests can not write when CommunityBuilder is enabled #8905
  src/plugins/plg_kunena_comprofiler/KunenaAvatarComprofiler.php
  src/plugins/plg_kunena_comprofiler/KunenaProfileComprofiler.php
Labels: bug, 6.0

#8953 [K6.0] Quick reply not keep the content when go to the editor, #8929
  src/site/template/aurelia/assets/js/quickreply.js
  src/site/template/aurelia/layouts/message/edit/quickreply.php
Labels: bug, 6.0

#8954 [K6.0] [CKeditor] text is not displayed if with bbcode marked #8907
  src/libraries/kunena/External/Nbbc/src/BBCode.php
Labels: bug, 6.0

#8955 [K6.0] Button create template button do nothing
  src/admin/src/Controller/TemplateController.php
Labels: bug, 6.0

#8956 [K6.0] Configuration: Modal Restore Default is inactive (part 2) #8647
  src/admin/src/Controller/ConfigController.php
  src/admin/tmpl/config/default_setting.php
Labels: bug, 6.0

#8957 [K6.0]Usermanager:Empty selections field Add subscriptions to cats #8566
  src/admin/src/Model/UsersModel.php
Labels: bug, 6.0

#8958 [K6.0] UserManager:If you Save:View not found [name, type, prefix] #8573
  src/admin/tmpl/config/default_setting.php
  src/admin/tmpl/users/default_subscribecatsusers.php
Labels: bug, 6.0

#8959 [K6.0] All buttons in user manager does the same thing
  src/admin/src/Controller/UsersController.php
  src/admin/tmpl/users/default.php
  src/admin/tmpl/users/default_moderators.php
  src/admin/tmpl/users/default_subscribecatsusers.php
Labels: bug, 6.0

#8961 [k6.0] Try to fix send mail results in 0 Call to undefined method #8796
  src/libraries/kunena/src/Email/KunenaEmail.php
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
Labels: bug, 6.0

#8962 [K6.0] Object of class Joomla\CMS\Mail\Mail needs string instead #8796
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
  src/site/src/Controllers/TopicController.php
Labels: bug, 6.0

#8964 [K6.0] Php 8.1 with profile bottom on message error passing null instead
  src/libraries/kunena/src/Date/KunenaDate.php
  src/site/template/aurelia/layouts/user/profile/horizontal.php
Labels: bug, 6.0

#8965 [K6.0]Php 8.1 trim():Argument #1 ($string) must be of type string, array
  src/libraries/kunena/src/Email/KunenaEmail.php
Labels: bug, 6.0
