Repository Kunena/Kunena-Forum, pull requests merged in 2022-09, with the labels that each got.

#9246 [K6.0] Module Output Latest Post : error getLink() on null
  src/site/src/View/Topics/HtmlView.php
Labels: bug, 6.0

#9247 [K6.0] custom.scss wants to load a file that does not exist #9243
  src/libraries/kunena/src/Template/KunenaTemplate.php
Labels: bug, 6.0

#9248 [K6.0] custom.css will not be loaded #9244
  src/site/template/aurelia/template.php
Labels: bug, 6.0

#9249 [K6.0] The menu item Moderator Topics show no topics #9082
  src/libraries/kunena/src/Forum/Message/KunenaMessageHelper.php
  src/libraries/kunena/src/Forum/Topic/KunenaTopicFinder.php
  src/site/src/Controller/Topic/Listing/Moderator/TopicListingModeratorDisplay.php
Labels: bug, 6.0

#9250 [K6.0] Clean things since the last commit on #9082
  src/libraries/kunena/src/Forum/Message/KunenaMessageHelper.php
  src/libraries/kunena/src/Forum/Topic/KunenaTopicFinder.php
Labels: 6.0

#9253 [K6.0] New users can add picture in messages or profile allowed #9142
  src/site/src/Controller/Topic/Form/Create/TopicFormCreateDisplay.php
  src/site/src/Controller/Topic/Form/Edit/TopicFormEditDisplay.php
  src/site/src/Controller/Topic/Form/Reply/TopicFormReplyDisplay.php
  src/site/template/aurelia/layouts/topic/edit/default.php
Labels: bug, 6.0

#9254 [K5.2] Remove Joomla! 3.9 allowed install
  src/administrator/components/com_kunena/install/install.script.php
  src/install.php
Labels: bug, 5.2

#9255 [K5.2] Backport from K6.0:menu item Moderator Topics no topics #9082
  src/components/com_kunena/controller/topic/list/moderator/display.php
  src/libraries/kunena/forum/message/helper.php
  src/libraries/kunena/forum/topic/finder.php
Labels: bug, 5.2

#9256 [K5.2]Port from K6.0:New users can add picture in messages or #9142
  src/components/com_kunena/controller/topic/form/create/display.php
  src/components/com_kunena/controller/topic/form/edit/display.php
  src/components/com_kunena/controller/topic/form/reply/display.php
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
Labels: bug, 5.2

#9262 [K6.0] category 'save as copy' produces error #9259
  src/admin/src/Controller/CategoryController.php
Labels: bug, 6.0

#9263 [K6.0] Error on script for create sym links for finder plugin
  scripts/kunena_sym_links.bat
Labels: 6.0

#9265 Fix: stripping HTML from tooltips without encoding
  src/libraries/kunena/src/Layout/KunenaLayout.php
Labels: bug, 6.0, Aurelia

#9267 [K5.2] Solved menu doesn't follow categories selected in menu
  src/components/com_kunena/models/topics.php
Labels: bug, 5.2

#9268 [K6.0] Update language from transifex
  src/admin/language/tr-TR/tr-TR.com_kunena.sys.ini
Labels: Language, 6.0

#9269 Fix: hide caticons on mobile view
  src/site/template/aurelia/layouts/category/index/default.php
Labels: 6.0, Aurelia

#9270 Hidden class
  src/admin/tmpl/attachments/default.php
  src/admin/tmpl/categories/default.php
  src/admin/tmpl/logs/default.php
  src/admin/tmpl/plugins/default.php
  src/admin/tmpl/ranks/default.php
  src/admin/tmpl/smilies/default.php
  src/admin/tmpl/statistics/default.php
  src/admin/tmpl/template.php
  src/admin/tmpl/templates/default.php
  src/admin/tmpl/tools/subscriptions.php
  src/admin/tmpl/trash/messages.php
  src/admin/tmpl/trash/topics.php
  src/admin/tmpl/user/edit.php
  src/admin/tmpl/users/default.php
  src/site/template/aurelia/layouts/announcement/listing/row/default.php
  src/site/template/aurelia/layouts/category/index/default.php
  src/site/template/aurelia/layouts/category/item/default.php
  src/site/template/aurelia/layouts/category/list/row/default.php
  src/site/template/aurelia/layouts/message/item/bottom/default.php
  src/site/template/aurelia/layouts/message/item/default.php
  src/site/template/aurelia/layouts/message/item/top/default.php
  src/site/template/aurelia/layouts/message/list/default.php
  src/site/template/aurelia/layouts/message/row/default.php
  src/site/template/aurelia/layouts/search/results/row/default.php
  src/site/template/aurelia/layouts/topic/edit/history/default.php
  src/site/template/aurelia/layouts/topic/item/message/default.php
  src/site/template/aurelia/layouts/topic/list/default.php
  src/site/template/aurelia/layouts/topic/row/category.php
  src/site/template/aurelia/layouts/topic/row/default.php
  src/site/template/aurelia/layouts/topic/row/user.php
  src/site/template/aurelia/layouts/user/list/default.php
  src/site/template/aurelia/layouts/user/profile/default.php
  src/site/template/aurelia/layouts/user/profile/horizontal.php
  src/site/template/aurelia/layouts/widget/pagination/list/default.php
Labels: 6.0, Aurelia

#9274 [K5.2] Menu item Moderate Topics causes error Call to undefined #9273
  src/libraries/kunena/forum/message/helper.php
Labels: bug, 5.2

#9276 [K5.2] Menu item Moderate Topics causes an error (part 2) #9275
  src/components/com_kunena/controller/topic/list/display.php
  src/components/com_kunena/controller/topic/list/moderator/display.php
Labels: bug, 5.2

#9277 [K6.0] Set dev
  src/pkg_kunena.xml
Labels: 6.0

#9280 [K5.2] Warning: in_array() expects parameter 2 to be array,in topics.php
  src/components/com_kunena/models/topics.php
Labels: bug, 5.2

#9281 [K6.0] Couple of errors in Kunena integration plugin for easysocial
  src/plugins/plg_kunena_easysocial/KunenaActivityEasySocial.php
Labels: bug, 6.0

#9282 [K5.2] Update changes file
  CHANGES.md
Labels: 5.2

#9285 remove hidden class on index / last posts
  src/site/template/aurelia/layouts/category/index/default.php
Labels: 6.0, Aurelia

#9284 Fix loading language outside Kunena
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
Labels: Language, 6.0

#9286 [K5.2] Prepare for K5.2.10 release
  CHANGES.md
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.2

#9287 Prepare for K5.2.10.1 release
  CHANGES.md
  pkg_kunena.xml
  src/pkg_kunena.xml
Labels: 5.2

#9288 [K6.0] Bump to Joomla! 4.2.3 as min version
  src/script.php
Labels: 6.0

#9290 [K6.0] User related gravatars are not displayed #9289
  src/plugins/plg_kunena_gravatar/KunenaAvatarGravatar.php
Labels: bug, 6.0
