Repository Kunena/Kunena-Forum, pull requests merged in 2022-11, with the labels that each got.

#9345 add missing svg icons
  src/media/kunena/core/svg/comment.svg
  src/media/kunena/core/svg/comments.svg
  src/media/kunena/core/svg/moved.svg
  src/media/kunena/core/svg/pushpin.svg
  src/media/kunena/core/svg/sticky-notes.svg
Labels: 6.0, Aurelia

#9348 fixed svg icons
  src/media/kunena/core/svg/comment.svg
  src/media/kunena/core/svg/comments.svg
  src/media/kunena/core/svg/moved.svg
  src/media/kunena/core/svg/pushpin.svg
  src/media/kunena/core/svg/sticky-notes.svg
Labels: 6.0, Aurelia

#9350 fix for no labels when moderate topic with no topic id's enabled
  src/site/template/aurelia/layouts/topic/moderate/default.php
Labels: 6.0, Aurelia

#9352 Fix: template count dashboard + cleanup template upload file
  src/admin/src/Controller/TemplatesController.php
  src/admin/tmpl/cpanel/default.php
Labels: bug, Backend, 6.0

#9349 attachments cart is not card
  src/site/template/aurelia/layouts/message/item/bottom/default.php
  src/site/template/aurelia/layouts/message/item/default.php
  src/site/template/aurelia/layouts/message/item/top/default.php
Labels: 6.0, Aurelia

#9356 message_closed not empty when 'empty'
  src/site/src/Controller/Message/Item/Actions/MessageItemActionsDisplay.php
Labels: 6.0

#9357 [K6.0] Error layout Widget/MenuBar on Kunena Profiles disabled #9351
  src/libraries/kunena/src/Integration/KunenaProfile.php
  src/plugins/plg_kunena_community/KunenaProfileCommunity.php
  src/plugins/plg_kunena_comprofiler/KunenaProfileComprofiler.php
  src/plugins/plg_kunena_easyblog/KunenaProfileEasyblog.php
  src/plugins/plg_kunena_easyprofile/KunenaProfileEasyprofile.php
  src/plugins/plg_kunena_easysocial/KunenaProfileEasySocial.php
  src/plugins/plg_kunena_kunena/profile.php
Labels: bug, 6.0

#9361 [K6.0] Poll - Deprecated: DateTime::__construct(): Passing null to #9360
  src/libraries/kunena/src/Forum/Topic/Poll/KunenaPoll.php
  src/site/src/Controller/Topic/Poll/TopicPollDisplay.php
Labels: bug, 6.0

#9362 Fix wrond iconset used when creating new topic with no category selected
  src/site/src/Controller/Topic/Form/Create/TopicFormCreateDisplay.php
Labels: bug, 6.0

#9363 [K6.0] Moderate message contains incorrect link to user profile #9359
  src/site/src/Controller/Topic/Moderate/TopicModerateDisplay.php
Labels: bug, 6.0

#9367 [K6.0] Poll: Voting not possible because no vote button available #9364
  src/admin/install/kunena.install.upgrade.xml
  src/admin/sql/install/mysql/create_tables.utf8.sql
Labels: bug, 6.0

#9368 [K6.0] Poll icon greyed if you open cat and click button New Topic #9365
  src/site/template/aurelia/assets/js/edit.js
Labels: bug, 6.0

#9370 [K6.0] Voting not possible because no vote button (part 2) #9369
  src/site/template/aurelia/layouts/topic/poll/results/default.php
Labels: bug, 6.0

#9372 [K6.0] Poll results template shows it ended on 1000-01-01 00:00:00 #9371
  src/site/template/aurelia/layouts/topic/poll/results/default.php
  src/site/template/aurelia/layouts/topic/poll/vote/default.php
Labels: bug, 6.0

#9373 [K6.0] Poll results template avoid duplicate code #9371
  src/site/src/Controller/Topic/Poll/TopicPollDisplay.php
  src/site/template/aurelia/layouts/topic/poll/results/default.php
  src/site/template/aurelia/layouts/topic/poll/vote/default.php
Labels: 6.0

#9376 [K6.0] Bump requiement to Joomla! 4.2.5
  src/script.php
Labels: 6.0

#9377 Change: added scss for bbcode_code_body|head + code style fixes
  src/site/template/aurelia/assets/scss/general.scss
Labels: Codestyle, 6.0, Aurelia

#9379 [K6.0] Hide reference to Blue Eagle #9378
  src/admin/src/Model/TemplatesModel.php
Labels: bug, 6.0

#9380 [K6.0] Conflict with language strings for rating #9333
  src/media/kunena/core/js/krating.js
Labels: bug, 6.0

#9381 [K6.0] The alert boxes when rate a topic wasn't in BS5 style
  src/media/kunena/core/js/krating.js
Labels: 6.0, Aurelia

#9382 [K6.1] Errors since revert changes made do re-do add CMSobject
  src/libraries/kunena/src/Controller/Application/Display.php
  src/libraries/kunena/src/Forum/KunenaForum.php
  src/libraries/kunena/src/View/KunenaView.php
  src/site/src/Application/attachment.php
  src/site/src/Controller/Application/Topics/Feed/TopicsDisplay.php
  src/site/src/Controller/Statistics/General/StatisticsGeneralDisplay.php
  src/site/src/Controller/User/Item/UserItemDisplay.php
  src/site/src/Controller/Widget/Statistics/WidgetStatisticsDisplay.php
  src/site/src/Controller/Widget/Whoisonline/WidgetWhoisonlineDisplay.php
  src/site/src/Controllers/TopicController.php
  src/site/template/aurelia/layouts/category/index/default.php
Labels: 6.0, 6.1

#9383 [K6.0] Remove install and update of mail_templates queries #9366
  src/admin/install/kunena.install.upgrade.xml
  src/admin/sql/install/mysql/create_tables.utf8.sql
Labels: bug, 6.0

#9388 [K6.0] Admin com_kunena.views.ini line 107 must be adjusted #9386
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
Labels: Language, 6.0

#9389 [K6.0] Improve regex to detect script tags on spoiler
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
Labels: bug, 6.0

#9390 [K6.0] Deleting topics before a certain date has no cats in list #9387
  src/admin/media/css/theme.min.css
  src/admin/src/Model/ToolsModel.php
Labels: bug, 6.0

#9391 [K6.0] Check that the value entered for colortext params is hexadecimal
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
Labels: bug, 6.0

#9393 [K6.0] Check if the ebay is numeric and if config is defined before
  src/libraries/kunena/src/BBCode/KunenaBBCode.php
Labels: 6.0

#9395 User htmlspacialchars() to render modified reason on edit to avoid weird
  src/components/com_kunena/template/crypsis/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb3/layouts/topic/edit/default.php
  src/components/com_kunena/template/crypsisb4/layouts/topic/edit/default.php
Labels: bug, 5.2

#9396 Use htmlspacialchars() to render websiteurl on profile to avoid weird
  src/components/com_kunena/template/crypsis/layouts/user/item/summary/default.php
  src/components/com_kunena/template/crypsisb3/layouts/user/item/summary/default.php
  src/components/com_kunena/template/crypsisb4/layouts/user/item/summary/default.php
Labels: bug, 5.2

#9397 Check that the value entered for colortext params
  src/libraries/kunena/bbcode/bbcode.php
Labels: bug, 5.2

#9398 Check if the ebay is numeric and if config is defined before
  src/libraries/kunena/bbcode/bbcode.php
Labels: bug, 5.2

#9399 Update code to render tableau object in a message
  src/components/com_kunena/template/crypsis/layouts/bbcode/tableau/default.php
  src/components/com_kunena/template/crypsisb3/layouts/bbcode/tableau/default.php
  src/components/com_kunena/template/crypsisb4/layouts/bbcode/tableau/default.php
  src/libraries/kunena/bbcode/bbcode.php
Labels: bug, 5.2

#9405 [K6.0] No mail sent to mod when moderator email == forum email #9401
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
Labels: bug, 6.0

#9407 moderator unapproved posts new topic
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
Labels: bug, 6.0

#9409 [K6.0] Userlist: values are not assigned to the correct columns #9408
  src/site/template/aurelia/layouts/user/list/default.php
Labels: bug, 6.0
