Repository Kunena/Kunena-Forum, pull requests merged in 2022-12, with the labels that each got.

#9410 [K6.0] Content of custom.scss is removed with each installation #9385
  src/script.php
Labels: bug, 6.0

#9415 [K6.0] Small issue in admin en-GB.com_kunena.views.ini:280 #9413
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
Labels: Language, 6.0

#9416 refactored searchform to BS5
  src/site/template/aurelia/layouts/search/form/default.php
  src/site/template/aurelia/layouts/search/results/default.php
  src/site/template/aurelia/layouts/search/results/row/default.php
Labels: 6.0, Aurelia

#9414 fix tooltip on user name whe tooltips = disabled
  src/libraries/kunena/src/User/KunenaUser.php
Labels: 6.0, Aurelia

#9417 [K6.0] Klatest : Categories selection is not possible in module params
  src/site/src/Model/TopicsModel.php
Labels: bug, 6.0

#9418 [K6.0] Only fa symbols are displayed on recent and categories instead
  src/libraries/kunena/src/User/KunenaUser.php
Labels: bug, 6.0

#9420 [K6.0] Fix issue when upload attachments under some circumstances
  src/libraries/kunena/src/Upload/KunenaUpload.php
Labels: bug, 6.0

#9421 Make list of subcategories inline
  src/site/template/aurelia/layouts/category/index/default.php
Labels: 6.0, Aurelia

#9423 Fix for announcement query bug
  src/libraries/kunena/src/Forum/Announcement/KunenaAnnouncementHelper.php
Labels: bug, 6.0

#9425 fix svg size of sub category icons when custom class is used on paren…
  src/site/template/aurelia/assets/scss/icons.scss
Labels: 6.0, Aurelia

#9426 Change: rename user in messages should also rename users in topics
  src/admin/language/en-GB/en-GB.com_kunena.controllers.ini
  src/admin/language/en-GB/en-GB.com_kunena.views.ini
  src/admin/src/Controller/ToolsController.php
Labels: bug, 6.0

#9430 [K6.0] Menu type "Create New Topic" no selection options (part 2) #9429
  src/site/tmpl/topic/create.xml
Labels: bug, 6.0
