Repository Kunena/Kunena-Forum, pull requests merged in 2022-10, with the labels that each got.

#9291 [K6.0] Remove use namespace on gravatar because it not autolaoded #9289
  src/plugins/plg_kunena_gravatar/KunenaAvatarGravatar.php
Labels: bug, 6.0

#9292 [K6.0] Update ckeditor to 4.20 version
  src/media/kunena/core/js/ckeditor.js
  src/media/kunena/core/js/skins/moono-lisa/dialog.css
  src/media/kunena/core/js/skins/moono-lisa/dialog_ie.css
  src/media/kunena/core/js/skins/moono-lisa/dialog_ie8.css
  src/media/kunena/core/js/skins/moono-lisa/dialog_iequirks.css
  src/media/kunena/core/js/skins/moono-lisa/editor.css
  src/media/kunena/core/js/skins/moono-lisa/editor_gecko.css
  src/media/kunena/core/js/skins/moono-lisa/editor_ie.css
  src/media/kunena/core/js/skins/moono-lisa/editor_ie8.css
  src/media/kunena/core/js/skins/moono-lisa/editor_iequirks.css
  src/media/kunena/core/js/skins/moono-lisa/icons.png
  src/media/kunena/core/js/skins/moono-lisa/icons_hidpi.png
  src/media/kunena/core/js/skins/moono-lisa/images/arrow.png
  src/media/kunena/core/js/skins/moono-lisa/images/close.png
  src/media/kunena/core/js/skins/moono-lisa/images/hidpi/close.png
  src/media/kunena/core/js/skins/moono-lisa/images/hidpi/lock-open.png
  src/media/kunena/core/js/skins/moono-lisa/images/hidpi/lock.png
  src/media/kunena/core/js/skins/moono-lisa/images/hidpi/refresh.png
  src/media/kunena/core/js/skins/moono-lisa/images/lock-open.png
  src/media/kunena/core/js/skins/moono-lisa/images/lock.png
  src/media/kunena/core/js/skins/moono-lisa/images/refresh.png
  src/media/kunena/core/js/skins/moono-lisa/images/spinner.gif
  src/media/kunena/core/js/skins/moono-lisa/readme.md
  src/media/kunena/core/js/skins/moonocolor/editor.css
  src/media/kunena/core/js/skins/moonocolor/editor_gecko.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie7.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie8.css
  src/media/kunena/core/js/skins/moonocolor/editor_iequirks.css
Labels: 6.0, CKeditor

#9293 [K6.0] A new language string is needed #9283
  src/site/language/en-GB/en-GB.com_kunena.ini
Labels: Language, 6.0

#9294 [K6.0] Anonymous writing: at Quick Reply the checkbox is wrong #9279
  src/site/template/aurelia/layouts/message/edit/quickreply.php
Labels: 6.0, Aurelia

#9295 [K6.0] Writing anonymously is not possible #9278
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
Labels: bug, 6.0

#9301 bugfix: added missing $table property
  src/plugins/plg_finder_kunena/kunena.php
Labels: bug, 6.0

#9300 add dropstart on mobile view
  src/site/template/aurelia/layouts/widget/login/login/mobile.php
  src/site/template/aurelia/layouts/widget/login/logout/default.php
Labels: 6.0, Aurelia

#9309 [K5.2] The My Topics menu item does not show any topics #9302
  src/components/com_kunena/views/topics/tmpl/user.xml
Labels: bug, 5.2

#9310 offcanvas mobile menu rodo K6.0 branch
  src/site/language/en-GB/en-GB.kunena_tmpl_aurelia.ini
  src/site/template/aurelia/assets/js/offcanvas.js
  src/site/template/aurelia/assets/scss/general.scss
  src/site/template/aurelia/assets/scss/mediaqueries.scss
  src/site/template/aurelia/layouts/widget/login/login/default.php
  src/site/template/aurelia/layouts/widget/login/login/desktop.php
  src/site/template/aurelia/layouts/widget/login/login/mobile.php
  src/site/template/aurelia/layouts/widget/login/logout/default.php
  src/site/template/aurelia/layouts/widget/menubar/default.php
  src/site/template/aurelia/template.php
Labels: bug, 6.0

#9312 [K6.0] KunenaActivityCommunity::onAfterThankyou() wrong type #9311
  src/plugins/plg_kunena_community/KunenaActivityCommunity.php
Labels: bug, 6.0

#9314 [K5.2] Update ckeditor to 4.20
  src/media/kunena/core/js/ckeditor.js
  src/media/kunena/core/js/skins/moonocolor/editor.css
  src/media/kunena/core/js/skins/moonocolor/editor_gecko.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie7.css
  src/media/kunena/core/js/skins/moonocolor/editor_ie8.css
  src/media/kunena/core/js/skins/moonocolor/editor_iequirks.css
Labels: 5.2

#9316 [K6.0] Wrong URLs in report or abo emails #9296
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
Labels: bug, 6.0

#9317 [K5.2] Prevent K5.2 from trying the installation on Joomla 4.x #9315
  src/install.php
Labels: 5.2

#9318 load BS CSS fix
  src/site/template/aurelia/template.php
Labels: 6.0, Aurelia

#9321 [K5.2] The My Topics menu item does not show any topics #9302
  src/components/com_kunena/models/topics.php
Labels: bug, 5.2

#9322 [K6.0] Remove in script.php class name the _
  src/script.php
Labels: 6.0

#9323 [K6.0] The banned field users table has wrong default value when update
  src/admin/install/kunena.install.upgrade.xml
Labels: bug, 6.0

#9324 [K6.0] The banned field users table has wrong default value on update 2
  src/admin/install/kunena.install.upgrade.xml
Labels: bug, 6.0

#9328 fix BS5 badges no BG
  src/site/template/aurelia/layouts/category/list/default.php
  src/site/template/aurelia/layouts/message/list/default.php
  src/site/template/aurelia/layouts/topic/list/default.php
  src/site/template/aurelia/layouts/widget/badge/default.php
  src/site/template/aurelia/layouts/widget/label/default.php
Labels: enhance, 6.0

#9332 [K6.0] Update language files from transifex
  src/admin/language/tr-TR/tr-TR.com_kunena.sys.ini
  src/site/language/de-DE/de-DE.kunena_tmpl_aurelia.ini
  src/site/language/fr-FR/fr-FR.kunena_tmpl_aurelia.ini
  src/site/language/tr-TR/tr-TR.kunena_tmpl_aurelia.ini
Labels: Language, 6.0

#9330 [K6.0] Get back the layout for mails like it was in K5.2 #9327
  src/libraries/kunena/src/Email/KunenaEmail.php
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
  src/site/template/aurelia/layouts/email/report/default.php
  src/site/template/aurelia/layouts/email/subscription/default.php
  src/site/template/aurelia/layouts/email/subscription/moderator.php
  src/site/template/system/layouts/email/report/default.php
  src/site/template/system/layouts/email/subscription/default.php
  src/site/template/system/layouts/email/subscription/moderator.php
Labels: bug, 6.0

#9335 [K6.0] When rate a topic error in console about wrong type of $time
  src/libraries/kunena/src/Forum/Topic/Rate/KunenaRate.php
Labels: bug, 6.0

#9336 [K6.0] Reporting a post results in an error #9334
  src/site/src/Controllers/TopicController.php
Labels: bug, 6.0

#9337 [K6.0] Set dev
  src/pkg_kunena.xml
Labels: 6.0

#9338 [K6.0] If "Visible E-mail Recipient" is the same mail than one #8825
  src/libraries/kunena/src/Forum/Message/KunenaMessage.php
Labels: bug, 6.0

#9339 [K5.2] If "Visible E-mail Recipient" is the same mail than one #8825
  src/libraries/kunena/forum/message/message.php
Labels: bug, 5.2

#9340 Fill the file changes.md with lastest changes
  CHANGES.md
Labels: 5.2

#9343 [K6.0] Can't update language pack when proposed by J! updater
  src/admin/language/all/pkg_kunena_languages.xml
Labels: bug, Language, 6.0
