Repository Kunena/Kunena-Forum, pull requests merged in 2023-01, with the labels that each got.

#9432 [K6.0] When on Kunena menu show categories is selected and cats selected
  src/site/src/Model/TopicsModel.php
Labels: bug, 6.0

#9439 [K6.0] Topic subscriptions are not displayed in the profile #9438
  src/site/src/Controller/Topic/Listing/User/TopicListingUserDisplay.php
  src/site/src/Model/TopicsModel.php
Labels: bug, 6.0

#9443 [K6.0] Topic subscriptions are not displayed in the profile (v2) #9442
  src/site/src/Controller/Topic/Listing/User/TopicListingUserDisplay.php
  src/site/src/Model/TopicsModel.php
Labels: bug, 6.0

#9445 [K6.0] Rendering Error in layout Category/Index: getAllowedHold()
  src/libraries/kunena/src/Forum/Message/KunenaMessageHelper.php
Labels: bug, 6.0

#9446 [K6.0] When a submenu item to item menu it no have BS 5 styling
  src/site/template/aurelia/layouts/widget/menu/default.php
Labels: 6.0, Aurelia

#9449 [K6.0] Warning : Undefined variable on the index page #9447
  src/site/template/aurelia/layouts/widget/menu/default.php
Labels: bug, 6.0

#9450 [K6.0] Cat subscriptions error if Direct Component Access = No #9437
  src/site/src/Layout/Category/CategoryItem.php
Labels: bug, 6.0

#9451 Wrong route with categories in module K-Latest
  src/libraries/kunena/src/View/KunenaView.php
Labels: bug, 6.0

#9444 Privacy plugin
  build.xml
  src/plugins/plg_privacy_kunena/index.html
  src/plugins/plg_privacy_kunena/kunena.xml
  src/plugins/plg_privacy_kunena/language/en-GB/en-GB.plg_privacy_kunena.ini
  src/plugins/plg_privacy_kunena/language/en-GB/en-GB.plg_privacy_kunena.sys.ini
  src/plugins/plg_privacy_kunena/script.php
  src/plugins/plg_privacy_kunena/services/provider.php
  src/plugins/plg_privacy_kunena/src/Extension/Kunena.php
  src/plugins/plg_privacy_kunena/src/Helper/KunenaHelper.php
  src/plugins/plg_system_kunena/kunena.php
  src/plugins/plg_system_kunena/language/en-GB/en-GB.plg_system_kunena.sys.ini
Labels: enhance, 6.1

#9452 Fix: fix legend online users
  src/site/template/aurelia/layouts/widget/whoisonline/default.php
Labels: 6.0, Aurelia

#9453 revert (partially) 9449 and fix undefined variable warning
  src/site/template/aurelia/layouts/widget/menu/default.php
Labels: bug, 6.0

#9454 [K6.1] Update NBBC class to version 2.4.0 to add Php 8.2 support
  src/libraries/kunena/External/Nbbc/src/BBCode.php
Labels: 6.1

#9460 add missing # of posts for user
  src/site/template/aurelia/layouts/user/profile/default.php
Labels: bug, 6.0, Aurelia
