Repository Kunena/Kunena-Forum, pull requests merged in 2023-02, with the labels that each got.

#9464 Fix: replaced BS visible-xs with BS5 equivalent + category on recent …
  src/site/template/aurelia/layouts/message/item/bottom/default.php
  src/site/template/aurelia/layouts/message/item/default.php
  src/site/template/aurelia/layouts/message/item/top/default.php
  src/site/template/aurelia/layouts/message/row/default.php
  src/site/template/aurelia/layouts/topic/row/category.php
  src/site/template/aurelia/layouts/topic/row/default.php
  src/site/template/aurelia/layouts/topic/row/user.php
Labels: 6.0, Aurelia

#9466 Do not display announcement authors to guests in listing
  src/site/template/aurelia/layouts/announcement/listing/row/default.php
Labels: 6.0, Aurelia

#9467 cpanel UX improvement
  src/admin/tmpl/cpanel/default.php
Labels: Backend, 6.0

#9473 [K6.0] Excel or Word documents cannot be attached #9472
  src/admin/install/kunena.install.upgrade.xml
Labels: bug, 6.0
