Repository Kunena/Kunena-Forum, pull requests merged in 2024-11, with the labels that each got.

#9765 Change: add title to labels on topic moderation icons
  src/site/template/aurelia/layouts/topic/moderate/default.php
Labels: enhance, 6.3

#9764 Stripping linebreaks when removing attachment.
  src/media/kunena/core/js/upload.main.js
Labels: bug, 6.3

#9768 Make whatsapp icon clickable and hide private attachments in edit history
  src/libraries/kunena/src/User/KunenaUser.php
  src/site/template/aurelia/layouts/topic/edit/history/default.php
Labels: bug, enhance, 6.3
