Repository Kunena/Kunena-Forum, pull requests merged in 2025-02, with the labels that each got.

#9810 Update scss remove margin for birthdate and change layout for user profile fields on mobile
  src/site/template/aurelia/assets/scss/general.scss
  src/site/template/aurelia/assets/scss/mediaqueries.scss
Labels: Aurelia, 6.4

#9818 Properly unban users that are banned on "site"
  src/plugins/plg_system_kunena/kunena.php
  src/plugins/plg_system_kunena/kunena.xml
Labels: enhance, 6.4

#9827 [K6.4] Update cpanel and change install sample data (changes from Pinkeltje) #9770
  src/admin/tmpl/cpanel/default.php
Labels: 6.4

#9828 Update com_kunena.templates.ini for Blogger and Bluesky
  src/site/language/en-GB/com_kunena.templates.ini
Labels: Language, 6.4

#9836 Fix for #9835
  src/admin/src/View/Users/HtmlView.php
Labels: bug, 6.3
